.BetslipControl {
  display: flex;
  font-size: 12px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  height: 32px;
  margin-block: 4px 0px;
  margin-inline: 14px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s, visibility 0s ease 0.3s;
  color: var(--white);
}

.Show.BetslipControl {
  opacity: 1;
  visibility: visible;
}

.ControlButton {
  appearance: none;
  background: none;
  border: none;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  color: var(--lightcolor-op1);
  fill: var(--lightcolor-op1);
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
}

.Fill {
  flex: 1 1 0%;
}

.ControlOdds {
  display: flex;
  position: relative;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
}

.ControlButton svg {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  width: 12px;
  height: 12px;
  flex: 0 0 12px;
  margin-inline: 4px 0px;
}

.ControlOdds .ControlButton:hover {
  color: rgb(129, 165, 178);
}

.ControlButton.RemoveAllButton {
  margin-inline: 0px 16px;
  color: var(--lightcolor-op1);
}

.DropdownWrapper {
  position: absolute;
  top: 28px;
  right: -6px;
  width: auto;
  background-color: var(--sb-search);
  border-radius: 3px;
  box-shadow: rgba(24, 36, 40, 0.6) 0px 5px 8px;
  z-index: 200;
  margin-top: 10px;
}

.DropdownWrapper::before {
  content: "";
  display: block;
  width: 0px;
  height: 0px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid rgb(255, 0, 0);
  border-bottom: 7px solid rgb(36, 54, 61);
  position: absolute;
  top: -6px;
  right: 6px;
  border-left-width: 6px;
  border-right-width: 6px;
  border-bottom-width: 6px;
}

.Dropdown {
  padding-inline-start: 1.5em;
  white-space: nowrap;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.DropdownItem {
  cursor: pointer;
  padding: 0.75em 1.5em;
  padding-inline-start: 0px;
  transition: all 0.3s ease 0s;
  border-bottom: 1px solid transparent;
}
.DropdownItem:first-child {
  border-radius: 3px 3px 0px 0px;
}
.DropdownItem:last-child {
  border-radius: 0px 0px 3px 3px;
  border-bottom: 0px;
}
.DropdownItem:hover {
  color: var(--yellow-accent-color);
}

.PlacementSwitch {
  border-top: 1px solid var(--placeholder-light);
  padding: 0.75em 0;
  padding-top: 1.05em;
  margin-right: 1.5em;
}

.PlacementSwitch label {
  font-weight: 400 !important;
  color: var(--white) !important;
}
.PlacementSwitch:hover label {
  color: var(--white) !important;
}
