.RecoverForm {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.FormTitle {
    margin-bottom: 1.5rem;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.InputOuter {
    margin-bottom: 0.5rem;
    border-radius: 0.125rem;
    border-color: var(--db-gray-2);
}

.RequestButtonWrapper {
    display: flex;
    flex-direction: column;
}

.RequestButtonWrapper button {
    margin-bottom: 0.5rem;
    height: 2.5rem;
    border-radius: 0.375rem;
    font-size: 0.75rem;
    line-height: 1rem;
}
