.Form {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  padding-top: 0.75rem;
  align-self: center;
}

.Form > label {
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: bold;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.Form .InputOuter {
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  border-color: var(--db-gray-2);
}
.InputOuterCountrySelect {
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  border-color: var(--db-gray-2);
  background-color: var(--db-gray-2);
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.625rem 0.75rem;
  font-size: 0.75rem;
  line-height: 1rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.InputOuterCountrySelect:hover {
  border-color: var(--db-brand-green);
}

.LoginWith {
  margin-bottom: 0.5rem;
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.Form button {
  margin-bottom: 0.5rem;
  height: 2.5rem;
  border-radius: 0.375rem;
  font-size: 0.75rem;
  line-height: 1rem;
  min-height: 2rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
}

.CheckboxContainer {
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
  width: 100%;
  padding-top: 0.25rem;
  text-align: start;
  font-size: 0.75rem;
  line-height: 1.25;
  color: lightblue;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.CheckboxInput {
  height: 0.9rem;
  width: 0.9rem;
}
.CheckboxLabel {
  margin-left: 0.6rem;
}

.Required {
  color: var(--db-gray-5);
  font-size: 0.9rem;
  margin-inline: 0.25ch;
  transition: color 0.3s;
}
.Optional {
  color: var(--db-brand-green);
  font-size: 0.7rem;
  font-weight: 500;
  margin-inline: 0.25ch;
  transition: color 0.3s;
}

.Required.Fulfilled {
  color: var(--db-brand-green);
}

.Container {
  margin-bottom: 1rem;
}

.FormValidationMessage {
  animation: fadeIn 0.3s backwards;
  color: var(--db-red-primary);
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.01em;
  line-height: 1.2;
  margin-block: 0.375rem 0;
  margin-inline: 0.25em;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
}

.ShowPasswordIcon line {
  opacity: 0;
  transition: opacity 0.3s;
}

.ShowPasswordIcon.ShowLine line {
  opacity: 1;
}

.PasswordCheckContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.25rem;
  margin-block: 0 0.25rem;
  margin-block-start: 0.25rem;
}

.PasswordMessage {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: var(--db-gray-5);
  transition: color 0.3s;
}

.PasswordMessage svg {
  width: 0.75rem;
  height: 0.75rem;
}

.PasswordMessage svg path {
  fill: var(--db-gray-800);
}

.PasswordText {
  line-height: 0.75rem;
}

.PasswordMessage.IsValid {
  color: var(--db-brand-green);
}

.PasswordMessage.IsValid svg path {
  fill: #33c16c;
}

/* Media */
@media (min-width: 640px) {
  .CaptchaText {
    margin-top: auto;
  }
}

.PhoneInput > div {
  color: #fff;
  font-size: 0.78rem !important;
  font-weight: 400 !important;
  border: 1px solid transparent !important;
  border-radius: 0.5rem;
}
.PhoneInput > div:hover {
  border: 1px solid var(--db-brand-green) !important;
}

.PhoneInput > div > input {
  background: var(--db-gray-2) !important;
  border: 1px solid transparent !important;
  width: 100% !important;
  border-radius: 0.5rem !important;
  font-size: 0.75rem !important;
  font-weight: 400 !important;
}
.PhoneInput > div > div {
  background: var(--db-gray-2) !important;
  border: 1px solid transparent !important;
  border-radius: 0.5rem !important;
}
.PhoneInput > div > div > div:hover,
.PhoneInput > div > div > div:focus {
  background-color: var(--db-gray-6) !important;
  background: var(--db-gray-6) !important;
  border: 0px solid transparent !important;
  border-radius: 0.4rem !important;
}
.PhoneInput > div > div > ul {
  background: var(--db-gray-2) !important;
}
.PhoneInput > div > div > ul > li:hover {
  background: #0f4767 !important;
}
.PhoneInput > div > div > ul > li > span {
  color: #fff !important;
}
.PhoneInput .react-tel-input .flag-dropdown .open .selected-flag {
  background: #f80707 !important;
}
