.SlideContainer {
  height: 150px;
  width: 100%;
  transition: transform 0.2s linear;
}

.LiveSwiper {
  background: var(--swiper-container-grad);
  border-radius: 15px;
  padding: 5px;
}

.LiveSwiper > div > div {
  margin-bottom: 0;
}
