.BetslipContainer {
    position: fixed;
    top: 0;
    z-index: 2000;
    height: 100%;
    width: 100%;
    background-color: var(--db-gray-6);
}

.ChatContainer header > button {
    position: absolute;
    right: 0.75rem;
    top: 1.25rem;
}

.ChatContainer header > button svg path {
    fill: #fff;
}
