.Bottombar {
  position: fixed;
  bottom: env(safe-area-inset-bottom);
  left: 0;
  z-index: 999;
  display: flex;
  height: var(--db-bottom-bar-height);
  /* height: 3.3rem; */

  width: 100%;
  justify-content: space-around;
  background-color: var(--topbar-bg);
}

.Bottombar > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}

.BottomMenuItem {
  position: relative;
  color: var(--white);
}

.BottomMenuItem svg {
  height: 0.95rem;
  width: 0.95rem;
}

.BottomMenuItem.Active {
  --tw-text-opacity: 1;
  color: hsl(var(--p) / var(--tw-text-opacity));
}
.BottomMenuItem.Active > svg path {
  fill: hsl(var(--p));
}

.WithStroke {
  stroke: var(--white);
}
.WithFill {
  fill: var(--white);
}
.WithFill path {
  fill: var(--white);
}

.OddsBubble {
  --bubble-color: #33c16c;
  --arrow-size: 10px;
  position: absolute;
  top: 50%;
  right: 40%;
  /* transform: translate(10%, -180%); */
  z-index: 10;
  background-color: var(--bubble-color);
  color: white;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  min-width: var(--bubble-size);
  min-height: var(--bubble-size);
  border-radius: 50%;
  padding: 0.25em 0.5em;
  font-size: var(--bubble-font-size);
  transition: transform 0.5s ease 0s, background-color 0.3s ease 0s,
    width 0.3s ease 0s, height 0.3s ease 0s;
}
.OddsBubble::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(70%) translateY(-10%) rotate(20deg);
  width: var(--arrow-size);
  height: var(--arrow-size);
  background-color: var(--bubble-color);
  border-radius: 1px;
  z-index: -1;
}

.SlipsNum {
  --left-algn: calc(100% - 1rem);
  position: absolute;
  top: 0.125rem;
  left: var(--left-algn);
  margin-left: auto;
  --min-badge-width: 0.5rem;
  display: flex;
  height: 1rem;
  width: auto;
  min-width: var(--min-badge-width);
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  background-color: var(--brand-green);
  padding-left: 0.375rem;
  padding-right: 0.375rem;
  font-size: 0.875rem;
  line-height: 1;
  letter-spacing: 0.025em;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.Label {
  font-size: 9px;
}
