.DownloadAppWrapper {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    padding: 25px;
    flex-wrap: wrap;
}

.DownloadAppLink img {
    width: 85px;
    height: auto;
    transition: transform 0.3s ease, opacity 0.3s ease;
    cursor: pointer;
}

.DownloadAppLink img:hover {
    transform: scale(1.05);
    opacity: 0.85;
}