.SideMenuScroll {
  /* height: calc(100% - var(--db-sticky-language-height) - 1rem); */
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 0.3rem;
  padding-bottom: 5rem;
}
.SideMenuScroll.Closed {
  padding: 0;
}
.SideMenuAllButtonsContainer {
  position: relative;
  margin: 0rem 0.5rem 0.5rem 0.5rem;
  padding: 0 25px 0 15px;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  /* min-height: 3rem; */
}
#promotionsButton {
  display: none;
}
.SideMenuAllButtonsContainer > button {
  position: absolute;
  width: 20px;
  top: 0;
  right: -1.8%;
}
.SideMenuScroll.Closed .SideMenuAllButtonsContainer {
  margin: 0.5rem 0.5rem;
  padding: 0;
  margin: 0;
}
.SideMenuScroll.Closed .TrackMenuButtonContainer > button {
  padding: 0.4rem 0rem 0.4rem 0.5rem;
}
.SideMenuAllButtonsContainer > button > svg {
  max-height: 1.25rem;
  max-width: 1.25rem;
}

.SideMenuContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.SideMenuContainer > button {
  height: 1.75rem;
  min-height: 1.5rem;
  width: 2rem;
  padding-left: 0;
  padding-right: 0;
}

.SideMenuContainer > button > svg {
  max-height: 1.25rem;
  max-width: 1.25rem;
}

.SideMenuSubButtonContainer {
  flex-direction: row;
  gap: 0.125rem;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0.3rem 0.5rem 0.1rem;
}

.SideMenuSubButtonContainer button {
  height: 3.5rem;
  border-radius: 7px;
  padding-left: 0.35rem;
  padding-right: 0.35rem;
  min-height: 2rem;
  font-size: 0.73rem;
  font-weight: 400;
  gap: 0.5rem;
  border-color: transparent;
  background-color: initial;
  display: flex;
  opacity: 1;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 1;
}

.SideMenuSubButtonContainer button svg {
  height: 1.1rem;
  width: 1.1rem;
}

.SideMenuSubButtonContainer button svg path {
  fill: var(--brand-green);
}

.SideMenuSubButtonContainer button .ActiveSvg path {
  fill: var(--brand-green) !important;
}

.SideMenuSubButtonContainer button span {
  display: flex;
  max-height: 45%;
  max-width: 100%;
  overflow: hidden;
  opacity: 1;
  transition: var(--db-transition);
  transition-duration: 0ms, 0.6s;
  transition-delay: 0ms, 0.25s;
  transition-property: opacity, max-width;
}

.SideMenuSubButtonContainer button:hover {
  border-color: transparent;
}
.TrackMenuButtonContainer {
  flex-direction: row;
  gap: 0.125rem;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
/* .TrackMenuButtonContainer button {
  height: 2.4rem;
  width: 50%;
  min-width: max-content;
  border-radius: 9999px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  min-height: 2rem;
  font-size: 0.875rem;
  gap: 0.5rem;
  border-color: transparent;
  background-color: initial;
  opacity: 1;
}
.TrackMenuButtonContainer button svg {
  height: 1.1rem;
  width: 1.1rem;
}

.TrackMenuButtonContainer button svg path {
  fill: var(--brand-green);
} */

.SideMenuButtonContainer {
  flex-direction: row;
  gap: 0.125rem;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.SideMenuButtonContainer button {
  height: 2.4rem;
  width: 50%;
  min-width: max-content;
  /* width: 50%; */
  border-radius: 9999px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  min-height: 2rem;
  font-size: 0.875rem;
  gap: 0.5rem;
  border-color: transparent;
  background-color: initial;
  opacity: 1;
}

.SideMenuButtonContainer button svg {
  height: 1.1rem;
  width: 1.1rem;
}

.SideMenuButtonContainer button svg path {
  fill: var(--brand-green);
}

.SideMenuButtonContainer button .ActiveSvg path {
  fill: var(--brand-green) !important;
}
.SideMenuButtonContainer button .Active2Svg path {
  fill: var(--sidebar-casino-active-svg) !important;
}
.SideMenuButtonContainer button .Active3Svg path {
  fill: var(--sidebar-horse-active-svg) !important;
}

.SideMenuButtonContainer button span {
  display: flex;
  max-height: 45%;
  max-width: 100%;
  opacity: 1;
  transition: var(--db-transition);
  transition-duration: 0ms, 0.6s;
  transition-delay: 0ms, 0.25s;
  transition-property: opacity, max-width;
}

.SideMenuButtonContainer button:hover {
  border-color: transparent;
}

/* Divider */
.SideMenuDivider {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: stretch;
  margin-bottom: 0.5rem;
  height: 1rem;
  white-space: nowrap;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0rem;
}

.SideMenuDivider::before,
.SideMenuDivider::after {
  content: "";
  flex-grow: 1;
  height: 0.125rem;
  width: 100%;
  background-color: hsl(var(--bc) / var(--tw-bg-opacity));
  --tw-bg-opacity: 0.1;
}

.SideMenuScroll .SideMenuDivider,
.SideMenuScroll .SideMenuDivider {
  height: 0.125rem;
}

/* Bottom buttons */
.SideMenuBottomButtons {
  position: -webkit-sticky;
  position: sticky;
  bottom: 1.5rem;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.75rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
  z-index: 50;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.SideMenuBottomButtons > button {
  height: 2.5rem !important;
  width: 50%;
  justify-content: flex-start !important;
  gap: 0.5rem;
  border-radius: 0;
  border-style: none;
  padding: 0 0 0 1rem !important;
  --tw-text-opacity: 1 !important;
  color: rgb(255 255 255 / 1) !important;
  font-size: 0.875rem;
  line-height: 1.25rem;
  min-height: 2rem;
}

.SideMenuBottomButtons > div > div {
  max-height: 50vh;
  overflow-y: scroll;
}

/* MenuItems */
/* .List {
  background-color: transparent;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
} */

.List li:first-child,
.List li:first-child a {
  border-top-left-radius: inherit;
  border-bottom-left-radius: unset;
}

.List li:last-child,
.List li:last-child a {
  border-top-left-radius: unset;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: 10px;
}

/* Closed */
.Closed.SideMenuScroll .SideMenuButtonContainer {
  flex-direction: column;
}

.Closed.SideMenuScroll .SideMenuSubButtonContainer {
  flex-direction: column;
}

.Closed.SideMenuScroll .SideMenuButtonContainer > button {
  /* margin: 0.25rem; */
  max-height: 30px;
  min-height: 30px;
  min-width: 30px;
  max-width: 30px;
  border-radius: 50%;
  padding: 0.25rem;
}

.Closed.SideMenuScroll .SideMenuSubButtonContainer > button {
  margin: 0.25rem;
  max-height: 30px;
  min-height: 30px;
  min-width: 30px;
  max-width: 30px;
  border-radius: 50%;
  padding: 0.25rem;
}

.Closed.SideMenuScroll .SideMenuButtonContainer > button span {
  display: contents;
  max-width: 0;
  opacity: 0;
}
.Closed.SideMenuScroll .GradBtnWrapper > button span {
  display: none;
  max-width: 0;
  opacity: 0;
}

.Closed.SideMenuScroll .SideMenuSubButtonContainer > button span {
  display: contents;
  max-width: 0;
  opacity: 0;
}

.Closed.SideMenuScroll .SideMenuButtonContainer button svg path {
  fill: var(--light-blue);
}

.Closed.SideMenuBottomButtons > div {
  width: 100%;
}

.Closed.SideMenuBottomButtons > button {
  justify-content: center !important;
  padding: 0.5rem;
  padding-left: 0 !important;
}

.Grouped {
  margin-bottom: 0.25rem;
}

/* Media */
@media (min-width: 768px) {
  .SideMenuScroll {
    padding: 0 0.3rem;
    padding-bottom: 0;
  }
  .SideMenuAllButtonsContainer {
    margin: 0rem 0.5rem 0.5rem 0.5rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    /* min-height: 3.5rem; */
    padding: 0;
  }
  .SideMenuBottomButtons {
    bottom: 0;
    margin-top: 0;
    flex-direction: column;
    gap: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .SideMenuBottomButtons > button {
    width: 100%;
  }
}
.LangDropdown {
  /* height: 3.5rem; */
  border-radius: 500px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  /* min-height: 2rem; */
  font-size: 0.755rem;
  gap: 0.5rem;
  border-color: transparent;
  background-color: initial;
  display: flex;
  opacity: 1;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 1;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.Closed.SideMenuScroll .NewBadge {
  display: none;
}

.NewBadge {
  position: absolute;
  transform: translateX(185%);
  animation: 6s ease 0s infinite normal none running __jQMcyq_dgbon_1_11we5_1;
  background: var(--live-badge-purple);
  border-radius: 3px;
  color: rgb(255, 255, 255);
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.02em;
  padding: 0px 0.3rem;
  text-shadow: rgba(41, 39, 33, 1) 0px 1px 2px;
  white-space: nowrap;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5rem;
  z-index: 100;
}

@keyframes _jQMcyq_dgbon_1 {
  0%,
  100% {
    opacity: 1;
  }

  10%,
  90% {
    opacity: 1;
  }

  40%,
  60% {
    box-shadow: rgba(150, 208, 35, 0.1) 0px 0.25em 1em,
      var(--live-badge-purple) 0px 0px 0.5em;
  }
}

.GradBtnWrapper {
  position: relative;
  min-height: 2.8rem;
  max-height: 2.8rem;
  width: 100%;
  padding: 0rem 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.2rem 0;
}
.PromoButton,
.HorseButton,
.PromotionsButton {
  height: 100%;
  width: 100%;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  gap: 0.5rem;
  color: white;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
}
.PromotionsButton {
  justify-content: center;
  text-align: center;
  overflow: hidden;
  position: relative;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.PromoButton svg,
.HorseButton svg {
  height: 1.5rem;
  width: 1.5rem;
}
.HorseButton svg path {
  fill: var(--sidebar-horse-active-svg);
}
.HorseButton {
  background: linear-gradient(89deg, #4c83b0ad 0.25%, #0f79ad0f);
  transition: background 0.5s ease-out;
}
.HorseButton:hover {
  background: #356286;
  background-color: #356286;
}
.PromoButton {
  overflow: hidden;
  position: relative;
  z-index: 0;
  background: linear-gradient(268.9deg, #ffc90008, #ebb71b7d);
  transition: background 0.5s ease-out;
}

.PromoButton:hover {
  background: #735f28;
  background-color: #735f28;
}
.PromoButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 200%;
  width: 200%;
  background: linear-gradient(
    45deg,
    transparent 40%,
    rgba(255, 255, 255, 0.408) 50%,
    transparent 60%
  );
  transform: translate(-100%, -100%) rotate(45deg);
  animation: shimmerDiagonal 4s ease-in-out infinite;
  pointer-events: none;
  z-index: 1;
}
@keyframes shimmerDiagonal {
  0% {
    transform: translate(-100%, -100%) rotate(45deg);
    opacity: 0;
  }
  10% {
    opacity: 0.3;
  }
  50% {
    transform: translate(100%, 100%) rotate(45deg);
    opacity: 0.3;
  }
  60% {
    opacity: 0;
  }
  100% {
    transform: translate(100%, 100%) rotate(45deg);
    opacity: 0;
  }
}
