.NotificationContainer {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  border-top: 1px solid var(--db-white-hover-light);
  padding: 7px 5px 5px 0px;
  height: fit-content;
}
.NotificationContainer.Unviewed {
  background: var(--toast-grad-op1);
  cursor: pointer;
}
.NotificationContainer:hover {
  background-color: var(--db-white-hover);
}
.NotificationContainer.Unviewed:hover {
  background-color: var(--db-white-hover);
}

.Icon {
  display: flex;
  width: max-content;
  margin: 0 0.6rem 0 0.5rem;
  justify-content: center;
  align-items: center;
}
.Main {
  width: inherit;
}
.Header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}
.RightPart {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: row;
}

.Title {
  font-size: 0.95rem;
  font-weight: 600;
  color: white;
}
.Date {
  font-size: 0.7rem;
  color: var(--placeholder-light);
  margin: 0 0.2rem;
}
.Message {
  font-size: 0.8rem;
  color: white;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
.NewNotif {
  margin-top: 3px;
  content: "";
  height: 0.65rem;
  width: 0.65rem;
  left: 0px;
  bottom: 0px;
  background-color: var(--db-body-text);
  transition: 0.4s;
  border-radius: 50%;
  margin: 0 0.2rem;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.792), 0 0 4px rgba(255, 255, 255, 0.561);
}
