.PageContent {
  padding: 0px 2rem 40px;
  margin: 2rem 0;
  border-radius: 10px;
  max-width: 1310px;
  width: 100%;
  container-type: inline-size;
  color: antiquewhite;
  overflow: hidden;
}

.PageContent h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.PageContent p {
  font-size: 1.5rem;
  font-weight: bold;
}

.ErrorSvg {
  max-height: 25vh;
  height: 100%;
  width: fit-content;
  animation: moveUpDown 2s ease-in-out infinite;
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
