.CasinoGameWrapper {
  width: 100%;
  position: relative;
  max-width: 1050px;
  padding: 22px 20px 40px;
}

/* .CasinoGame {
  position: relative;
  margin-top: 1rem;
  background-color: rgb(27, 40, 46);
  overflow: hidden;
} */

/* General styles */
.CasinoGameWrapper {
  width: 100%;
  position: relative;
  max-width: 1050px;
  padding: 22px 20px 40px;
}

.CasinoGame {
  position: relative;
  /* margin-top: 1rem; */
  background-color: rgb(27, 40, 46);
}

/* Mobile view - when isMobile is true */
.CasinoGameWrapper.IsIOSMobile .CasinoGame {
  position: fixed;
  top: var(--db-topbar-height-mobile);
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: calc(
    100vh - var(--db-topbar-height-mobile) - var(--db-bottom-nav-height)
  );
  z-index: 1000000000;
  overflow: hidden;
}

.CasinoGameWrapper.IsIOSMobile .Placeholder {
  width: 100vw;
  height: 100vh;
  z-index: 100000000;
}

.CasinoGameWrapper.IsIOSMobile .GameContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.CasinoGameWrapper.IsIOSMobile .GameContent iframe {
  width: 100%;
  height: 100%;
  z-index: 10000000;
}

.CasinoGameWrapper.Expanded {
  /* max-width: unset; */
  max-width: none;
  width: 100%;
}
/* .CasinoGameWrapper.Expanded .Placeholder {
    height: calc(-185px + 100vh);
} */

.Header {
  height: 40px;
  display: flex;
  -webkit-box-pack: end;
  justify-content: space-between;
  padding: 4px;
  margin-bottom: 2px;
  background: var(--db-gray-3);
  position: relative;
}

.Placeholder {
  position: relative;
  /* height: calc(-250px + 100vh); */
  height: 65vh;
  /* height: 100%; */
}
.Placeholder::before {
  height: 0px;
  content: "";
  display: block;
}

.GameControls {
  width: 100%;
  height: 40px;
  margin-top: 2px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  background-color: rgb(33, 50, 65);
  padding: 0px 20px;
}

.GameOverlay {
  width: 100%;
  height: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(20, 31, 35, 0.97);
  position: absolute;
  inset: 0px;
}

.GameContent {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}
.GameContent iframe {
  width: 100%;
  height: 100%;
}

.OverlayTitle {
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-bottom: 18px;
}

.OverlayButtons {
  height: 42px;
  display: flex;
}
.OverlayButtons button {
  height: 2rem;
  min-height: 2rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-left: 1.25rem !important;
  padding-right: 1.25rem !important;
}
.OverlayButtons button:not(:first-child) {
  margin-left: 8px;
}

.Header > svg {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Header > svg path {
  fill: var(--db-duelbits-gray);
}

.LeftSection {
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-start;
  max-height: 42px;
}

.LeftSection > button svg {
  height: 1.3rem;
  width: 1.3rem;
}

.LeftSection button {
  height: 1.75rem;
  gap: 0.2rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  --tw-text-opacity: 1;
  color: white;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  min-height: 2rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border: solid 1px transparent;
}

.RightSection {
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  max-height: 42px;
}

.RightSection button svg {
  height: 1.1rem;
  width: 1.1em;
}

.RightSection button {
  height: 1.75rem;
  gap: 0.6rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  min-height: 2rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border: solid 1px transparent;
}

/* .RightSection button:first-child svg path {
  stroke: var(--db-body-subheading);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
} */
.NotFavoriteIcon {
  padding-top: 2px;
  stroke: var(--db-body-subheading);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}
.LeftSection button svg path {
  fill: white;
}
.RightSection button:not(:first-child) svg path {
  fill: var(--db-body-subheading);
}
.RightSection button span {
  color: #fff;
  display: none;
}
.LeftSection button span {
  color: #fff;
}

.RightSection button:not(:first-child) {
  margin-left: 8px;
}

.GameNameWrapper {
  width: 50%;
  display: flex;
  justify-content: space-between;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 400;
}
.GameName {
  font-size: 14px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.DemoControl {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  z-index: 1;
}

:global(.IsMobile) :local(.RightSection > button:nth-child(2)) {
  display: none;
}

.CasinoGameWrapper.Expanded .DemoControl {
  margin-right: 45px;
}

:global(.IsMobile) :local(.CasinoGameWrapper.Expanded .DemoControl) {
  margin-right: 0;
}

:global(.IsMobile) :local(.CasinoGameWrapper.Expanded .Placeholder) {
  height: unset;
}

.FavoriteIcon path {
  fill: #db2777 !important;
}
.FavoriteIcon {
  padding-top: 2px;
}

@media (min-width: 640px) {
  .RightSection button span {
    display: inline-block;
  }
}

@media screen and (max-width: 768px) {
  .OverlayTitle {
    font-size: 12px;
  }
}

/* @media screen and (max-width: 768px) {
  .CasinoGame {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    z-index: 10000000000000;
  }

  .Placeholder {
    height: 100vh;
    width: 100vw;
  }

  .GameContent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .GameContent iframe {
    width: 100%;
    height: 100%;
  }
} */
