.CryptoCard {
    background: linear-gradient(90deg, var(--crypto-color), transparent 45%, transparent), var(--db-gray-4);
    position: relative;
    display: flex;
    height: 3rem;
    width: 100%;
    cursor: pointer;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.LogoContainer {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.PriceContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 600;
}

.ImageContainer {
    position: relative;
    height: 18px;
    width: 18px;
}
.ImageContainer img {
    height: 100%;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
}

.LogoContainer p {
    margin-left: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.Price {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.Delta {
    color: var(--db-brand-green);
}
.Delta.Lower {
    color: #ef4444;
}

@media (min-width: 640px) {
    .CryptoCard {
        height: 60px;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .PriceContainer {
        font-size: 0.875rem;
        line-height: 1rem;
    }
    .ImageContainer {
        height: 1.5rem;
        width: 1.5rem;
    }
    .LogoContainer p {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
}
