.PaymentForm {
  padding: 0.5rem;
  width: 100%;
}

.Labels {
  display: block;
  font-weight: 400;
  color: rgb(132, 158, 167);
  font-size: 0.85rem;
}

.InputsForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
}

.Select {
  background: #223b51;
  width: 50%;
  padding: 0.2rem;
  border-radius: 6px;
  border: 1px solid #cccccc42;
  color: rgb(255, 255, 255);
}

.SmallInput {
  background: #223b51;
  width: 20%;
  padding: 0.2rem;
  border-radius: 6px;
  border: 1px solid #cccccc42;
  color: rgb(255, 255, 255);
}

.Input {
  background: #223b51;
  width: 90%;
  padding: 0.2rem;
  border-radius: 6px;
  border: 1px solid #cccccc42;
  color: rgb(255, 255, 255);
}
