.ReturnContainer {
  grid-template-columns: calc(100% - 6.5rem) 6.5rem;
  display: grid;
  align-items: center;
  justify-content: space-between;
}

.ReturnButtonWrapper button {
  height: 2.5rem;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 0.25rem;
  border-radius: 0.5rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.ReturnButtonWrapper button span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.RequestsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
  width: 100%;
  row-gap: 0.675rem;
  padding: 0.5rem;
  flex-wrap: nowrap;
  position: relative;
  padding-bottom: 2rem;
  justify-content: flex-start;
}
.Requests {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  row-gap: 0.675rem;
  padding: 0.5rem;
  overflow-y: scroll;
}

.FilterContainer {
  width: 100%;
  display: flex;
  color: white;
  align-items: center;
  justify-content: flex-start;
  row-gap: 0.7rem;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 2rem;
}
.Filter {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  column-gap: 0.5rem;
  min-width: fit-content;
  height: 2rem;
}
.SortButton svg {
  height: 0.8rem;
  width: 0.8rem;
}

.FilterSort {
  display: flex;
  background: #102f47;
  height: 2rem;
  width: max-content;
  padding: 0.4rem;
  border: 1px solid transparent;
  border-radius: 6px;
  color: rgb(255, 255, 255);
  padding: 0.1rem;
  justify-content: space-around;
  align-items: center;
  gap: 0.6rem;
  padding: 0 0.5rem;
}
.Select {
  background: #102f47;
  height: 2rem;
  width: 60%;
  padding: 0.4rem;
  border: 1px solid transparent;
  border-radius: 6px;
  color: rgb(255, 255, 255);
  padding: 0.1rem;
}
.NoReqs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.NoReqs span {
  color: white;
  font-size: 1rem;
  font-weight: 400;
}

.Req {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  align-items: flex-start;
  width: 100%;
  border-radius: 8px;
  padding: 0.6rem;
  justify-content: space-between;
}

.Left {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.Center {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.Right {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  text-align: end;
  width: 100%;
  padding: 0 0.5rem 0.2rem 0;
}
.Left,
.Center,
.Right p {
  color: white;
}

.Pagination {
  position: absolute;
  color: white;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  bottom: 0;
}
.Pagination span {
  color: white;
  font-weight: 400;
  font-size: 0.895rem;
}
.Pagination button {
  display: flex;
  border-radius: 5px;
  background: #123751;
  height: 1.5rem;
  width: 1.5rem;
  align-items: center;
  justify-content: center;
}
.Pagination button:hover {
  background: #1f5e8a;
}
.Pagination button svg {
  height: 0.5rem;
  width: 0.5rem;
}

@media (min-width: 640px) {
  .ReturnContainer {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .ReturnButtonWrapper button {
    height: 3rem;
    gap: 0.75rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}

@media (min-width: 540px) {
  .Req {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border-radius: 8px;
    padding: 0.6rem;
    justify-content: space-between;
  }
  .Right {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    width: auto;
    padding: 0;
  }
}
