.ReturnContainer {
  grid-template-columns: calc(100% - 6.5rem) 6.5rem;
  display: grid;
  align-items: center;
  justify-content: space-between;
}

.ReturnButtonWrapper button {
  height: 2.5rem;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 0.25rem;
  border-radius: 0.5rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.ReturnButtonWrapper button span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.RequestsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  width: 100%;
  row-gap: 0.675rem;
  padding: 0.5rem;
}

.NoReqs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.NoReqs span {
  color: white;
  font-size: 1rem;
}

.Req {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 5rem;
  border-radius: 8px;
  padding: 0.6rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Left {
  display: flex;
  flex-direction: column;
}
.Center {
  display: flex;
  flex-direction: column;
}
.Right {
  display: flex;
  flex-direction: column;
}
.Left,
.Center,
.Right p {
  color: white;
}

@media (min-width: 640px) {
  .ReturnContainer {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .ReturnButtonWrapper button {
    height: 3rem;
    gap: 0.75rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}
