.Crypto {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  width: 100%;
  max-width: 900px;
  gap: 0.5rem;
  padding: 1rem 0.75rem;
}

.Title {
  display: flex;
  align-items: center;
}

.Title svg {
  margin-right: 0.5rem;
  height: 1.25rem;
  width: 1.25rem;
}
.Title h1 {
  font-size: 0.875rem;
  font-weight: 800;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.CardsContainer {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.SearchSection {
  margin-left: -0.625rem;
  margin-right: -0.625rem;
  display: block;
  flex-grow: 1;
  background-color: var(--dark-blue-1);
  padding: 0.5rem;
}

@media (min-width: 640px) {
  .Crypto {
    gap: 0.625rem;
    padding: 1.25rem;
  }
  .Title h1 {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  .CardsContainer {
    gap: 0.625rem;
  }
}
@media (max-width: 1024px) {
  .CardsContainer {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (max-width: 470px) {
    .CardsContainer {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }

.NotAuthenticated {
  width: 100%;
  height: calc(-298px + 100vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
}

.NotAuthenticated h1 {
  font-size: 42px;
  color: rgb(255, 255, 255);
  line-height: 35px;
  font-weight: 800;
}
