.InputBox {
  background: var(--button-grad-op-mid);
  border-radius: 8px;
  -webkit-box-align: center;
  align-items: center;
  height: 36px;
  position: relative;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  display: flex;
}
.InputBox svg {
  fill: var(--white);
  margin-inline: 14px 8px;
  width: 16px;
  height: 16px;
  position: absolute;
  pointer-events: none;
}
.InputBox svg path {
  fill: var(--white);
}

.InputBox input {
  flex: 1 1 0%;
  height: 100%;
  padding-inline: 40px 4px;
  text-overflow: ellipsis;
  background: transparent;
  color: #ffffff;
}

.InputBox input[type="search"]::-webkit-search-decoration,
.InputBox input[type="search"]::-webkit-search-cancel-button,
.InputBox input[type="search"]::-webkit-search-results-button,
.InputBox input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.InputBox input::placeholder {
  color: var(--white-lowop);
  opacity: 1;
}
.InputBox input::-webkit-input-placeholder {
  color: var(--white-lowop);
  opacity: 1;
}
.InputBox input::-moz-placeholder {
  color: var(--white-lowop);
  opacity: 1;
}
.InputBox input:-ms-input-placeholder {
  color: var(--white-lowop);
  opacity: 1;
}
.InputBox input:-moz-placeholder {
  color: var(--white-lowop);
  opacity: 1;
}
