.Logo {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 15px;
    width: 30px;
    height: 30px;
    z-index: 1;
}
.Logo img,
.Logo svg {
    width: 30px;
    height: 30px;
}

.Logo .BigSvg {
    width: 24px;
    height: 24px;
}
