.backgroundOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
    background: transparent;
}

.sparkle::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(255, 255, 0, 0.6) 0%, rgba(255, 255, 0, 0) 70%);
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: sparkle 7s forwards;
}

@keyframes sparkle {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(0.5);
    }

    50% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(1.5);
    }
}

.AchievementModal {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
    aspect-ratio: 10/16;
    /* max-width: 580px; */
    max-height: 80%;
    max-width: calc(100% - 20px);

    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;

    --tw-translate-y: -0.5rem;
    --tw-scale-x: 0.9;
    --tw-scale-y: 0.9;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));

    /* background-color: var(--db-gray-6); */
    opacity: 0;
    animation: slide 0.2s ease-out forwards;
    z-index: 50;
}

@keyframes slide {
    100% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}

.Swiper {
    grid-column: 2;
    grid-row: 2;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    max-height: calc(100dvh - 80px);
    height: 100%;
    width: 100%;
    border-radius: 3%;
    overflow: hidden;
}

.customPrevArrow,
.customNextArrow {
    position: absolute;
    top: 50%;
    width: 33px;
    height: 33px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 70;
    transform: translateY(-50%);
    cursor: pointer;
    transition: opacity 0.3s;

}

.customPrevArrow {
    grid-column: 1;
    grid-row: 2;
    left: 10px;
}
.customPrevArrow.disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}

.customNextArrow {
    grid-column: 3;
    grid-row: 2;
    right: 10px;
}
.customNextArrow.disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}

.customPrevArrow img,
.customNextArrow img {
    width: 27px;
    height: 27px;
}


.ModalContent {
    grid-column: 2;
    grid-row: 2;
    position: relative;
    /* max-height: 100dvh; */
    overflow-y: hidden;
    overflow-x: hidden;
    max-height: calc(100dvh - 80px);
    height: 100%;
    width: 100%;
    border-radius: 3%;
    overflow: hidden;
}

.MainContent {
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;
    max-width: 100%;
}

.MainContent img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.TopContent {
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5%;
    z-index: 100000;
    background: transparent;
}

.Title {
    padding-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: white;
    font-size: 17px;
    font-weight: bold;
}

.CloseButton {
    background: rgba(0, 0, 0, 0.24);
    border-radius: 20%;
    height: max-content;
    /* box-shadow: 0px 0px 15px 9px rgb(0 0 0 / 47%); */
    z-index: 1000000;
    filter: invert(1);
}

.TopContent header {
    display: flex;
    /* justify-content: flex-end; */
    height: var(--db-modal-header-height);
    padding-bottom: 1rem;
}

.TopContent header .Center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.TopContent header .Right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.TopContent header .Right button svg {
    padding: 0.3rem !important;
}

.RewardDetails {
    width: 100%;
    margin: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 90;
    padding: 0;
    /* overflow: hidden; */
}

.RewardDetails h1 {
    overflow: hidden;
    color: white;
    font-size: 35px;
    font-weight: bold;
}

.RewardDetails p {
    overflow: hidden;
    color: white;
    font-size: 17px;
    font-weight: 300;
}

.ClaimButton {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    box-shadow: 0px 0px 7px 2px rgb(0 0 0 / 47%);
    background: rgb(0 0 0 / 42%);
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Media */
@media (min-width: 640px) {}

@media (min-width: 768px) {
    .AchievementModal {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .ModalContent {
        max-height: calc(100dvh - 130px);
    }

    .MainContent {
        gap: 1rem;
    }
}