.ModalContent {
  position: relative;
  max-height: 95dvh;
  background-color: var(--dark-blue-1);
  animation: _slide_4lvla_1 0.2s ease-out forwards;
  color: #fff;
  width: 98dvw;
  overflow: hidden;
  padding: 0.625rem;
}

.EventsTableWrapper {
  display: flex;
  overflow: auto;
  max-height: 60dvh;
}
table.EventsTable {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  min-width: max-content;
  background: var(--accordion-small-body);
}

table.EventsTable thead {
  --tw-bg-opacity: 1;
  background: var(--dropdown-bg);
}

.BetInfoItem div {
  padding: 5px;
}

.BetInfoItem div:first-child {
  color: var(--brand-green);
}

.BetInfoItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table.EventsTable td {
  border: 1px solid var(--mid-blue-1);
  font-size: 12px;
  padding: 15px;
  text-transform: capitalize;
  line-height: 26px;
  text-align: center;
  position: relative;
  padding: 10px;
}

table.EventsTable thead th {
  border: 1px solid var(--mid-blue-1);
  line-height: 20px;
  font-size: 13px;
  padding: 3px 10px;
  min-width: 120px;
}

.BetInfoItem h2 {
  margin-top: 5px;
  font-size: x-large;
  color: var(--brand-green);
}
.BetInfoItem:first-child > div {
  position: relative;
}
.BetInfoItem:first-child > div svg {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 40%;
  right: -20px;
  cursor: pointer;
}
.BetInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-around;
  margin: 7px 0;
  width: 100%;
  align-items: center;
}
@keyframes slide {
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

.BookedBet header {
  display: grid;
  height: var(--db-modal-header-height);
  padding-bottom: 1rem;
  grid-template-columns: auto 1fr auto;
}

.Center {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 2;
}

.Center h1 {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.Right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-column: 3;
}
.ModalContent .Right button svg {
  padding: 0.375rem !important;
  height: 1.5rem !important;
  width: 1.5rem !important;
}

.BookedBetContent {
  display: flex;
  flex-direction: column;
}
.BBBadge {
  position: absolute;
  top: 1px;
  left: 1px;
}
/* .BBTitle {
  color: red;
}
.BBMarket {
  color: blue;
} */

.BookedBetContent button {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.25rem;
}
