.NotificationModal {
  display: flex;
  flex-direction: column;
  background-color: var(--topbar-bg);

  position: relative;
  height: 100%;
  width: 100%;
}

.CloseWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    grid-column: 3;
}
.CloseWrapper button {
    position: absolute;
}

.ModalContent {
  max-height: 100dvh;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 0.625rem;
}

.ModalHeader {
  /* display: grid;
  height: var(--db-modal-header-height);
  padding: 0.25rem 0.5rem 1.25rem;
  grid-template-columns: auto 1fr auto; */

  min-height: var(--db-modal-header-height);
  max-height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  margin-bottom: 0.625rem;
  padding: 0 1rem;
}
.ModalHeader h1 {
  color: white;
  font-size: 1.07rem;
  font-weight: 700;
  max-width: 30%;
}

.ToggleButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 1px;
}
.ToggleButton p {
  font-size: 0.8rem;
  color: #88b7cbf6;
  text-wrap: wrap ;
}

.Switch {
  position: relative;
  display: inline-block;
  width: 39px;
  height: 20px;
  margin: 10px;
}

.Switch input {
  opacity: 0;
  width: 0;
  height: 20px;
}

.SliderRound {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #848484;
  transition: 0.3s;
}

.SliderRound:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0px;
  bottom: 0px;
  background-color: white;
  transition: 0.5s;
}

input:checked + .SliderRound {
  background-color: var(--brand-green);
}

input:checked + .SliderRound:before {
  transform: translateX(20px);
}

.SliderRound {
  border-radius: 34px;
}

.SliderRound:before {
  border-radius: 50%;
}

.MainContent {
  display: flex;
  width: 100%;
  max-height: 85%;
  overflow-y: scroll;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.Empty {
  display: flex;
  height: 180px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.Empty span {
  font-size: 1rem;
  color: #88b7cbf6;
}


@media (max-width: 359px) {
    .ModalHeader h1{
        font-size: 0.975rem;
    }
    .ToggleButton p {
        font-size: 0.7rem;
        color: #88b7cbf6;
        text-wrap: wrap ;
      }
}