.PageContent {
  padding: 0px 10px 40px;
  max-width: 1520px;
  width: 100%;
  container-type: inline-size;
}

.SportsBook {
  grid-column: span 2 / span 2;
  width: 100%;
  padding-bottom: 0;
}

.MenuWrapper {
  border-radius: 0px;
  background: var(--body-bg);
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding-block: 16px 10px;
  position: sticky;
  top: 0px;
  z-index: 900;
}
.MenuWrapper > div {
  margin-left: unset;
  margin-right: unset;
  width: 100%;
}

.Content {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

@media (min-width: 640px) {
  .Content {
    margin-top: 0.875rem;
  }
}

@media (min-width: 768px) {
  .PageContent {
    z-index: 10;
  }
}
