@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap");

.BBBadge {
  --min-badge-width: 0.5rem;
  display: flex;
  height: 1rem;
  width: 1rem;
  min-width: var(--min-badge-width);
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 40%;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 40%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  background-color: var(--brand-green);
  padding-left: 0.5rem;
  padding: 0.55rem 0.75rem;
  font-size: 11px;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: var(--text-in-brand);
  font-weight: 600;
  font-family: "Archivo", sans-serif;
  position: relative;
  overflow: hidden;

  transition: width 0.7s ease;
}

.BBBadge:hover {
  width: 4rem;
}

.Floating.BBBadge {
  position: absolute;
  right: -0.3rem;
  top: -0.125rem;
  height: 1rem;
  /* width: fit-content; */
}

.JustifyRight.BBBadge {
  margin-left: auto;
}

@media (min-width: 640px) {
  .Floating.BBBadge {
    right: -0.125rem;
  }
}
.BBBadge::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  left: 0%;
  height: 200%;
  width: 200%;
  background: linear-gradient(
    70deg,
    rgba(255, 255, 255, 0.094) 20%,
    rgb(255, 255, 255) 50%,
    rgba(255, 255, 255, 0.07) 80%
  );
  transform: translateX(0) rotate(0deg);
  animation: shimmerDiagonal 3s infinite;
  pointer-events: none;
  z-index: 1;
}

@keyframes shimmerDiagonal {
  0% {
    transform: translateX(-100%) rotate(45deg);
    opacity: 0;
  }
  10% {
    opacity: 0.5;
  }
  50% {
    transform: translateX(100%) rotate(45deg);
    opacity: 1;
  }
  60% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(200%) rotate(45deg);
    opacity: 0;
  }
}

.ShortText,
.FullText {
  position: absolute;
  white-space: nowrap;
  transition: opacity 0s ease;
  pointer-events: none;
}

.ShortText {
  opacity: 1;
  z-index: 2;
}

.FullText {
  opacity: 0;
  z-index: 1;
}

.HoverExpand {
  position: relative;
  overflow: hidden;
  width: fit-content;
}
.HoverExpand .BBBadge:hover {
  width: 4rem;
}
.HoverExpand:hover .ShortText {
  opacity: 0;
}

.HoverExpand:hover .FullText {
  opacity: 1;
}
