.NumberBadge {
    --min-badge-width: 0.5rem;
    display: flex;
    height: 1rem;
    width: auto;
    min-width: var(--min-badge-width);
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    background-color: var(--brand-green);
    padding-left: 0.375rem;
    padding-right: 0.375rem;
    font-size: 0.8rem;
    line-height: 1.25rem;
    letter-spacing: 0.025em;
    --tw-text-opacity: 1;
    /* color: rgb(255 255 255 / var(--tw-text-opacity)); */
    color: #0a0a38;
    /* color: #166905; */
    font-weight: 600;
}

.Floating.NumberBadge {
    position: absolute;
    right: -0.3rem;
    top: -0.125rem;
    height: 1rem;
    width: fit-content;
}

.JustifyRight.NumberBadge {
    margin-left: auto;
}

@media (min-width: 640px) {
    .Floating.NumberBadge {
        right: -0.125rem;
    }
}
