.MyBetDetailsSection {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 10px;
  max-height: 205px;
  overflow-y: auto;
  scroll-behavior: smooth;
}
:global(.IsMobile) :local(.MyBetDetailsSection) {
  max-height: unset;
}

.HeaderContainer {
  display: flex;
  width: 100%;
}

.InfoContainer {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.Separator {
  border-top: 1px solid var(--body-bg);
  width: 96%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  margin: 10px auto;
}

.TeamSection {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.OddsSection {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 5px;
  flex: 1 1 0%;
}

.OutcomeContainer {
  display: flex;
  flex-direction: column;
}
.Outcome {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-direction: column;
}

.TeamVersusGroup {
  color: white;
  display: -webkit-inline-box;
  justify-content: space-around;
  width: fit-content;
  overflow: hidden;
  /* font-weight: 700; */
}

.MarketName {
  color: var(--lightcolor-op1);
  font-size: 12px;
  /* font-weight: 700; */
  margin-top: 10px;
}

.SectionOutcome {
  color: white;
  text-transform: capitalize;
  /* font-weight: 500; */
  font-size: 14px;
}

.EventTime {
  font-variant-numeric: tabular-nums;
  font-feature-settings: "tnum";
  display: flex;
  font-size: 13px;
  -webkit-box-align: center;
  align-items: center;
  height: 2rem;
}

.InfoScore {
  color: var(--brand-green);
}

.StatusContainer {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  text-transform: capitalize;
  margin-top: 5px;
}

.Circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 10px;
  background: var(--yellow-accent-color);
}

.StatusContainer.Loss .Circle {
  background: var(--cancelled);
}
.StatusContainer.Win .Circle {
  background: var(--brand-green);
}

.Odds {
  margin-top: 5px;
}
.Odds > span {
  color: var(--white);
  font-variant-numeric: tabular-nums;
  font-feature-settings: "tnum";
  /* font-weight: 600; */
}

.Status {
  color: white;
}

.Time {
  min-width: 0px;
  color: var(--placeholder-light);
  margin-right: 8px;
}

.DateOfMatch {
  /* font-weight: 700; */
  font-size: 14px;
  line-height: 17px;
  color: var(--placeholder-light);
}

.BBMarketCheckbox {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 15px;
  margin-right: 5px;
}
.Dot {
  width: 5px;
  height: 5px;
  background: #ffffff9c;
  border-radius: 0.4rem;
  position: relative;
}
.BBWrapper:not(:last-child) .Dot::after {
  content: "";
  position: absolute;
  background-color: #ffffff9c;
  width: 1px;
  height: 50px;
  border: none;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
