.MyBet {
  width: calc(50% - 9px);
  background: var(--accordion-small-body);
  border-radius: 0px 0px 4px 4px;
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.3s ease 0s, transform 0.3s ease 0s;
  animation: 0.4s ease 0s 1 normal backwards running exbcPT;
  height: fit-content;
  min-height: unset;
}
.MyBet.IsOpen {
  min-height: 300px;
  height: unset;
}
.HeaderSection {
  background: var(--db-gray-4);
  background: var(--accordion-header);
  border-radius: 4px 4px 0px 0px;
  height: 40px;
  width: 100%;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px;
}

.DetailsContainer {
  min-height: 205px;
}

.Title {
  /* font-weight: 700; */
  white-space: pre-wrap;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.Title > svg {
  margin-inline-end: 4px;
}

.Title .Stake {
  color: white;
}
.Title .Type {
  color: white;
  text-transform: capitalize;
}
.Title .OddsWrapper {
  color: var(--yellow-accent-color);
  display: flex;
}
.Title .Odds {
  color: var(--yellow-accent-color);
  font-variant-numeric: tabular-nums;
  font-feature-settings: "tnum";
  /* font-weight: 700; */
}

.BetStatusContainer {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.Circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 10px;
}

.Status {
  /* font-weight: 700; */
  font-size: 14px;
  line-height: 20px;
  color: white;
}

.ArrowIcon {
  width: 16px;
  height: 16px;
  transition: transform 0.3s ease 0s;
  margin-left: 10px;
}
.MyBet.IsOpen .ArrowIcon {
  transform: scaleY(-1);
}
.ArrowIcon svg {
  fill: white;
}

.CashoutSection {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 10px;
}

.Separator {
  border-bottom: 1px solid var(--body-bg);
  width: 96%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  margin: auto;
}

.PotentialReturnsSection {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  color: var(--brand-green);
  /* font-weight: 600; */
  line-height: 1.6rem;
}

.CashoutButtonSection {
  display: flex;
  flex-direction: column;
  width: 50%;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.TicketContainer {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.TicketContainerLabel {
  /* font-weight: 600; */
  font-size: 14px;
  line-height: 17px;
  color: var(--placeholder-light);
}

.TicketContainerValue {
  /* font-weight: 700; */
  font-size: 14px;
  line-height: 17px;
  color: white;
}

.CashoutButton {
  height: 36px;
  box-sizing: border-box;
  background: var(--brand-green);
  border-radius: 4px;
  padding: 2%;
  color: white;
  /* font-weight: 700; */
  outline: none;
  border: none;
  cursor: pointer;
}
.CashoutButton:hover {
  background-color: var(--db-white-hover);
}

.CopyIcon {
  align-self: flex-end;
  cursor: pointer;
}

.Copied {
  align-self: flex-end;
}

.CashoutButtonSection.NoCashoutButton {
  align-self: flex-end;
}

.ConfirmCashoutWrapper {
  display: flex;
  flex-direction: column-reverse;
}

.CancelButton {
  height: 36px;
  box-sizing: border-box;
  background: var(--card-odds-button-disabled);
  border-radius: 4px;
  color: white;
  /* font-weight: 700; */
  outline: none;
  border: none;
  cursor: pointer;
  width: 100%;
}

.ConfirmButton {
  height: 36px;
  box-sizing: border-box;
  background: var(--brand-green);
  border-radius: 4px;
  color: white;
  /* font-weight: 700; */
  outline: none;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 4px;
}

.CoinsContainer {
  display: flex;
  flex-direction: row;
}
.CoinsContainer svg {
  margin-inline-end: 4px;
}
.CoinsContainer span {
  font-style: normal;
  /* font-weight: 700; */
  font-size: 14px;
  line-height: 17px;
  color: white;
}

.Payout {
  color: var(--brand-green);
  /* font-weight: 700; */
  font-size: 14px;
  line-height: 17px;
}

.CashoutSuspendedWrapper {
  position: relative;
}

.CashoutSuspended {
  height: 36px;
  box-sizing: border-box;
  padding: 2%;
  color: var(--yellow-accent-color);
  /* font-weight: 700; */
  outline: none;
  border: none;
  display: flex;
  justify-content: space-around;
  -webkit-box-align: center;
  align-items: center;
  background: var(--darkcolor-low-op);
  border-radius: 4px;
}

.BreakReason {
  position: absolute;
  left: 0;
  top: calc(100% + 5px);
  width: 100%;
  font-size: 12px;
  line-height: 17px;
  opacity: 0.8;
}
.DisableWrapper {
  position: relative;
}
.DisabledButton {
  height: 36px;
  box-sizing: border-box;
  padding: 2%;
  color: var(--lightcolor-low-op);
  /* font-weight: 700; */
  outline: none;
  border: none;
  display: flex;
  cursor: default;
  justify-content: space-around;
  -webkit-box-align: center;
  align-items: center;
  background: var(--card-odds-button-disabled);
  border-radius: 4px;
}
.DisableReason {
  position: absolute;
  left: 0;
  top: calc(100% + 5px);
  width: 100%;
  font-size: 12px;
  line-height: 17px;
  opacity: 0.8;
  color: var(--placeholder-light);
}
.SpinnerWrapper {
  position: relative;
}
.SpinnerWrapper > div {
  position: relative;
  margin-right: unset;
}

.CashoutSuccess {
  height: 36px;
  box-sizing: border-box;
  padding: 2%;
  color: var(--brand-green);
  /* font-weight: 700; */
  outline: none;
  border: none;
  display: flex;
  justify-content: space-around;
  -webkit-box-align: center;
  align-items: center;
  background: var(--darkcolor-low-op);
  border-radius: 4px;
}

.IsBonus {
  display: flex;
  align-items: center;
  margin-inline: 6px;
}

.GiftIconWrapper {
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--mid-blue-1);
  border-radius: 50%;
}
.IsBonus svg {
  height: 12px;
  width: 12px;
}

@media screen and (max-width: 900px) {
  .MyBet {
    width: 100%;
    min-height: 0px;
    height: fit-content;
  }
  .IsBonus span {
    display: none;
  }
}
