.StatSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.Header {
  /* background: var(--db-gray-4); */
  color: rgb(113, 142, 152);
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  /* flex: 0 0 56px; */
  padding-inline: 7px;
  white-space: nowrap;
  color: #83bccb;
}
.Header.Green {
  color: rgb(51, 193, 108);
}

.ContentRow.Green > div {
  color: rgb(51, 193, 108);
}

.Content {
  /* background: var(--db-gray-1); */
  color: rgb(255, 255, 255);
  position: relative;
  display: flex;
  font-size: 0.8rem;
}

.StatSection:last-child .Header {
  padding-inline-end: 10px;
}
.StatSection:last-child .Content {
  padding-inline: 7px;
  padding-inline-end: 10px;
}

.ContentRow {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  transition: color 0.3s ease 0s;
}

.ContentRow > div {
  text-align: center;
}

.HeaderIcon {
  fill: rgb(51, 193, 108);
  width: 14px;
  height: 14px;
}
