.Breadcrumb {
  background: var(--sb-search);
  box-sizing: border-box;
  display: flex;
  -webkit-box-align: center;
  align-items: flex-start;
  padding: 8px 4px;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
  align-content: flex-start;
  border-top-right-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.Breadcrumb > :first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.Breadcrumb > :last-child {
  border-bottom-left-radius: 8px;
  max-width: 100%;
  border-bottom-right-radius: 8px;
}

.NoPaddingCrumb {
  padding: 0;
  position: relative;
}

.Crumb.BackButton {
  background: var(--odds-button);
  width: 80px;
  overflow: hidden;
  padding: 0px;
}

.Crumb {
  border-radius: 8px;
  color: white;
  fill: white;
  cursor: pointer;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 40px;
  margin-inline: 4px;
  padding: 0px 8px 0px 14px;
  position: relative;
}

.Crumb.BackButton svg {
  width: 1.5rem;
  height: 1.5rem;
  flex: 0 0 1.5rem;
}

.Crumb:hover {
  background-color: var(--lightcolor-low-op);
}

.BackIcon {
  width: 1.5rem;
  height: 1.5rem;
  flex: 0 0 1.5rem;
}

.SportIcon {
  margin-inline-end: 0.75em;
}

.SportIcon svg {
  width: 1.1rem;
  height: 1.1rem;
  flex: 0 0 1.1rem;
}

.SportName {
  margin-inline-end: 0.5em;
}

.ArrowIcon {
  width: 1.5rem;
  height: 1.5rem;
  flex: 0 0 1.5rem;
}

.DropdownWrapper {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  z-index: 90;
}

.DropdownWrapper button svg:first-child {
  width: 18px;
  height: 18px;
  margin-inline: -2px 8px;
}

.DropdownWrapper button svg:last-child {
  width: 18px;
  height: 18px;
  margin-inline: 4px 0px;
  transition: transform 0.2s ease 0s;
}

.DropdownWrapper.Show button svg:last-child {
  transform: scaleY(-1);
}

.DropdownMenu {
  white-space: nowrap;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-color: var(--dropdown-bg);
  border-radius: 0 0px 8px 8px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 16px -8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 0px 0px 8px;
  transform-origin: 100% 0px;
  max-height: 368px;
  min-width: 260px;
  z-index: 90;
}

.DropdownItem {
  padding-inline-start: 1.5em;
  cursor: pointer;
  padding: 0.75em 1.5em;
  transition: all 0.3s ease 0s;
  color: #fff;
  border-radius: 0px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin: 8px 0px 0px;
  padding: 0px 2px 0px 8px;
  min-height: 40px;
  padding-inline: 0.75em;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease 0s;
}

.DropdownItem:first-child {
  border-radius: 3px 3px 0px 0px;
}

.DropdownItem:last-child {
  border-radius: 0px 0px 3px 3px;
  border-bottom: 0px !important;
}

.DropdownItem:hover {
  background-color: var(--db-white-hover);
}

.DropdownItem.Active {
  background-color: var(--odds-button);
}

.NoPaddingCrumb > div:nth-child(2) {
  top: calc(100% - 1px);
  margin: 0;
  margin-left: 4px;
}

.NoPaddingCrumb > div::before {
  display: none;
}

.SportItemIcon {
  margin-inline: 0px 1.25em;
  height: 100%;
  width: 16px;
}

.SportItemIcon > svg {
  width: 1.5rem;
  height: 1.5rem;
  flex: 0 0 1.5rem;
}

.SportItemIcon > svg path {
  fill: #fff;
}

.NoPaddingCrumb.DropdownOpen > button {
  border-radius: 8px 8px 0px 0px;
}

.DropdownOpen .Crumb {
  background-color: var(--dropdown-bg);
  border-radius: 8px 8px 0 0;
}

/* Teams */
.TeamsContainer {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.TeamVersusWord {
  text-align: center;
  vertical-align: middle;
  line-height: 50%;
  margin: 0px 8px;
  font-size: 13px;
  font-weight: bold;
  color: white;
}

.TeamName {
  max-width: 78px;
  vertical-align: middle;
  line-height: 100%;
  margin-inline: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.TeamName.Outright {
  max-width: unset;
}

.TeamName.First {
  margin-left: 5px;
}

.TeamName.Second {
  margin-right: 5px;
}

@media (min-width: 769px) {
  .Breadcrumb {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-top-right-radius: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.DateContainer {
  padding: 10px 8px 10px 19px;
  pointer-events: none;
  cursor: default;
  font-size: 1rem;
  font-weight: 400;
  color: white;
}
