.Group {
  -webkit-box-align: stretch;
  align-items: stretch;
  flex-direction: column;
  display: flex;
  overflow: hidden;
  border: 0px solid transparent;
}

.Title {
  cursor: pointer;
  -webkit-box-flex: 2;
  flex-grow: 2;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  line-height: 20px;
  fill: rgb(255, 255, 255);
  white-space: nowrap;
  padding-inline: 12px;
  padding-block: 8px;
}

.TitleIcon {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 20px;
  height: 20px;
}
.TitleIcon svg {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 20px;
  height: 20px;
}
.TitleIcon svg path {
  fill: var(--placeholder-light);
}

.TitleName {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-inline: 14px auto;
  white-space: normal;
  overflow-wrap: break-word;
}

.DropdownIcon {
  width: 20px;
  height: 20px;
  flex: 0 0 20px;
  margin-inline: 8px 0px;
  transition: transform 0.3s ease 0s;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.Title:hover {
  background: var(--db-white-hover);
}

.Group.IsOpen {
  border-top-right-radius: 20px;
  border: 0px solid transparent;
}
.Group.IsOpen .DropdownIcon {
  transform: scaleY(-1);
}
.Group.IsOpen .Title {
  background: var(--db-gray-666);
  color: var(--db-duelbits-gray);
  font-weight: 600;
}
.Group.IsOpen .TitleIcon svg path {
  fill: var(--db-duelbits-gray);
}

.TournamentGroup {
  display: flex;
  -webkit-box-align: stretch;
  align-items: stretch;
  flex-direction: column;
  margin-inline: 0px;
}
