.Tabs {
  justify-content: stretch;
  gap: 0;
  display: flex;
  width: 100%;
  overflow-x: scroll;
}

/* Webkit-based browsers */
.Tabs::-webkit-scrollbar {
  height: 2px;
}

.Tabs::-webkit-scrollbar-track {
  background: transparent;
}

.Tabs::-webkit-scrollbar-thumb {
  background-color: var(--db-brand-green);
  border-radius: 10px;
}

.Tabs::-webkit-scrollbar-thumb:hover {
  background-color: var(--db-brand-green);
}

/* Firefox specific styling */
.Tabs {
  scrollbar-width: thin;
  scrollbar-color: #96d0236e transparent;
  padding: 3px;
}

.Tab {
  position: relative;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  color: rgb(255 255 255 / var(--tw-text-opacity));

  flex-grow: 1;
  height: 3rem;
  border-radius: 0;
  border-bottom-color: var(--db-gray-4);
  background-color: initial;
  padding: 0.25rem 0.9rem;
  --tw-text-opacity: 1;
  border-bottom-width: 1px;

  white-space: nowrap;
  gap: 0.6rem;
}

.Tab:hover {
  background-color: var(--db-white-hover);
}

.Tab.Active {
  border-bottom-color: var(--db-brand-green);
  color: var(--db-brand-green);
  background: var(--accordion-header);
}

.Tab svg {
  display: none;
  width: 1rem;
  /* height: 1rem; */
}
.Tab svg path {
  fill: var(--db-gray-5);
}
.Tab.Active svg path {
  fill: var(--db-brand-green);
}

.Tab p {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.2;
  text-wrap: nowrap;
  color: white;
}

@media (min-width: 769px) {
  .Tabs {
    flex-shrink: 0;
    flex-direction: column;
    gap: 0.5rem;
    width: 170px;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    /* background: linear-gradient(224deg, #183447c7, #0d2a3e); */
  }
  .Tab {
    justify-content: flex-start;
    border-bottom: 0;
    padding: 0 1rem;
    border-radius: 0.375rem;
    height: 2.5rem;
    padding: 0.25rem 0.5rem;
    flex-grow: unset;
  }
  .Tab.Active {
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }
  .Tab.Active:hover {
    background-color: var(--db-gray-7);
  }
  .Tab svg {
    display: inline-block;
  }
  .Tab p {
    text-wrap: auto;
  }
}
