.TabContent {
    --tw-translate-y: 3rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    opacity: 0;
    background-color: initial;
    /* padding: 1.25rem; */
    position: relative;
}

.OverviewTitle {
    position: absolute;
    top: 0.625rem;
    display: none;
    font-size: 1.2rem;
    line-height: 1.5rem;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.GridContainer {
    display: grid;
    gap: 1.25rem;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 0.6fr auto;
}

.HeroesContainer {
    margin-top: 2rem;
    width: 100%;
}

.DisplayContainer {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    text-align: center;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    height: 100%;
    max-width: 390px;
    max-height: 100%;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    margin-top: -1.5rem;
    grid-column: 1 / 3;
}

.SelectHeroBtn {
    grid-row: 3;
    grid-column: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.HeroDescription {
    grid-column: 2 / 4;
    grid-row: 1;
    /* grid-row: 2 / span 3; */
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    --tw-text-opacity: 1;
    margin-top: 1rem;
    /* color: rgb(255 255 255 / var(--tw-text-opacity)); */
}

.DescTitle {
    font-weight: bold;
    font-size: 20px;
    color: var(--db-brand-green);
}
.Description{
    font-size: 15px;
    color: var(--value-100);
}

.LevelUpSection {
    grid-row: 2;
    /* grid-row: 1; */
    grid-column: 2 / 4;

}

@media (min-width: 768px) {
    .TabContent {
        background-color: var(--db-duelbits-gray);
        padding: 3rem 2.5rem;
    }

    .OverviewTitle {
        display: block;
    }

    .GridContainer {
        grid-template-columns: 1fr 0.65fr 0.7fr;
        grid-template-rows: 0.6fr 1fr;
    }

    .DisplayContainer {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        margin-left: 0;
        margin-bottom: 0;
        margin-right: 0;
        margin-top: 0;
        height: fit-content;
        max-height: 100%;
    }

    .Rewards {
        grid-column: 2 / 4;
    }
}