.MilestoneSection {
    position: relative;
    display: grid;
    transition: grid-template-rows 0.3s ease-out;
    grid-template-rows: 1fr;
    /* margin-left: -0.625rem;
    margin-right: -0.625rem; */
    width: 100%;
}

.RefreshButtonBg {
    background-color: #0c2233;
    position: absolute;
    height: 35px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 1px;
    padding: 3px;
    z-index: 999;
}

.RefreshButton {
    height: 28px;
    width: 28px;
    background-color: var(--db-brand-green);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    z-index: 1000;
    position: absolute;
}

.RefreshButton img {
    padding-left: 1px;
    padding-top: 1px;
}

.RefreshButton:hover {
    background-color: #41829f;

}

.MilestoneSection>button {
    position: absolute;
    left: 50%;
    top: 50%;
    --tw-translate-x: -50% !important;
    --tw-translate-y: -50% !important;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
    height: 2.5rem !important;
    width: min(100%, 260px);
    background-color: var(--db-brand-green);
}

.CarouselContainer {
    /* padding-left: 0.625rem;
    padding-right: 0.625rem; */
    overflow: hidden;
}

.NotLoggedIn.CarouselContainer {
    opacity: 0.2;
    pointer-events: none;
}

.MilestoneCarousel {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

/* .ScrollContainer {
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    max-width: 80%;
} */

.ScrollContent {
    /* margin-left: auto;
    margin-right: auto; */
    display: flex;
    /* width: -webkit-fit-content;
    width: -moz-fit-content; */
    /* width: fit-content; */

    -webkit-user-select: none;
    user-select: none;
    flex-direction: column;
    /* gap: 0.75rem; */
}

.ProgressBar {
    position: relative;
    margin-top: 0.5rem;
    height: 27px;
    margin-left: calc(var(--db-milestone-card-width) / 2);
    margin-right: calc(var(--db-milestone-card-width) / 2);
    width: 766px;
}

.BarContainer {
    height: 4px;
    border-radius: 9999px;
    background-color: var(--db-gray-3);
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    --tw-translate-x: -50%;
    --tw-translate-y: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.BarContainer>span {
    display: block;
    height: inherit;
    border-radius: inherit;
    background-color: var(--db-brand-green);
    transition: width 0.3s linear;
}

.DiamondContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    --tw-translate-x: -50%;
    --tw-translate-y: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.CardsContainer {
    display: flex;
    gap: 13px;
position: relative;
    justify-content: space-between;
}

.MilestoneCarousel:after {
    content: '';
    position: absolute;
    right: 16px;
    z-index: 9;
    background: linear-gradient(270deg, #0d2233f5, transparent);
    height: 100%;
    width: 50px;
    pointer-events: none;
}

.MilestoneCarousel:before {
    content: '';
    position: absolute;
    left: 16px;
    z-index: 9;
    background: linear-gradient(90deg, #0c1e2db0, transparent);
    height: 100%;
    width: 50px;
    pointer-events: none;
}

@media(max-width: 767px) {
    .MilestoneCarousel:after {
        right: 0;
    }
    
    .MilestoneCarousel:before {
        left: 0px;
    }
}

@media(max-width: 1199px) {
    .MilestoneCarousel:after {
        background: linear-gradient(270deg, #0d2233f5, transparent);
    }
    
    .MilestoneCarousel:before {
        background: linear-gradient(90deg, #0d2233bd, transparent);
    }
}
.SkeletonWrapper {
    position: relative;
    height: 152px;
    width: 111px;
}

.Background {
    display: grid;
    place-items: center;
    background-color: var(--db-gray-2);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 0.375rem;
}

.Background::before {
    position: absolute;
    top: 0;
    left: 50%;
    height: 0.75rem;
    width: 0.75rem;
    --tw-translate-y: -50%;
    --tw-translate-x: -50%;
    --tw-rotate: 45deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    background-color: inherit;
    content: '';
}

.Background>div {
    border-radius: 0.375rem;
}


.LeftArrow, .RightArrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #123953d3;
    border-radius: 25%;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.LeftArrow {
    left: 0px;
}
.LeftArrow svg{
    height: 150%;
    width: 100%;
}

.RightArrow {
    right: 0px;
}
.RightArrow svg{
    height: 200%;
    width: 100%;
}


.LeftArrow:hover, .RightArrow:hover {
    background-color: #577891db;
}


/* Media */
@media (min-width: 768px) {
    /* .MilestoneSection {
        margin-left: -1rem;
        margin-right: -1rem;
    } */

    .CarouselContainer {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}