.PageContent {
  padding: 0px 10px 40px;
  max-width: 1310px;
  width: 100%;
  container-type: inline-size;
  position: relative;
}
.PromotionsContainer {
  display: flex;
  flex-direction: column;
  height: max-content;
}
.PromotionsHeader {
  height: 250px;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column-reverse;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
}
.PromotionsBody {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 24px;
  row-gap: 20px;
}

.PromoBanner {
  display: flex;
  justify-content: flex-start;
  height: max-content;
  align-items: center;
  opacity: 0.5;
}
.PromoBanner img {
  height: 100%;
  left: 50%;
  max-height: 407px;
  min-width: 768px;
  object-fit: cover;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  z-index: -1;
  width: 100%;
  object-position: top;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.Title {
  font-size: 2rem;
  font-weight: 700;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  column-gap: 0.5rem;
  margin: auto;
  z-index: 99;
}
.Title svg {
  height: 2rem;
  width: 2rem;
}
.Title p {
  font-size: 1rem;
  font-weight: 700;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  column-gap: 0.5rem;
  margin: auto;
  text-wrap: wrap;
  text-align: center;
}

.Promo {
  border-radius: 12px;
  min-height: 268px;
  overflow: hidden;
}
.PromoCard {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}


.BgImage {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 12px;
  left: 50%;
  min-width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  border-radius: 12px;
}
.BgImage::after {
  content: "";
  position: absolute;
  left: -1px;
  z-index: 9;
  background: linear-gradient(90deg, var(--body-bg), transparent);
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.Content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 24px 16px;
  position: relative;
  width: 100%;
}
.PromoTop {
  width: 100%;
  height: max-content;
}
.PromoTitle {
  color: hsla(0, 0%, 100%, 0.89);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.2px;
  line-height: 20px;
  margin: 0;
  height: max-content;
}
.PromoText span {
  color: #fff;
  display: inline-block;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: -0.84px;
  line-height: 32px;
  margin: 16px 0 8px;
  text-transform: uppercase;
  text-wrap: wrap;
  overflow-wrap: anywhere;
}
.PromoBottom {
  align-items: center;
  -moz-column-gap: 12px;
  column-gap: 12px;
  display: flex;
}
.Buttons {
  align-items: center;
  -moz-column-gap: 12px;
  column-gap: 12px;
  display: flex;
}
.LinkButton {
  height: 2rem;
  width: 100%;
  background-color: #0d3146;
  border-radius: 5px;
  color: white;
  font-weight: 600;
}
.LinkButton:hover {
  background-color: #154867;
}
.InfoButton {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
}

@media (min-width: 600px) {
  .PromotionsHeader {
    height: 250px;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
  }
  .PromoBanner {
    justify-content: space-around;
  }
  .Promο {
    min-height: 294px;
  }
}
@media (min-width: 768px) {
  .PromotionsBody {
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;
  }
  .PromoBottom {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1240px) {
  .PromotionsBody {
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;
  }
  .PromotionsBody {
    min-height: 312px;
  }
  .PromotionsHeader {
    height: 400px;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  .Title {
    font-size: 3rem;
  }
  .Title p {
    font-size: 1.3rem;
  }
  .Content {
    padding: 32px 24px 24px 32px;
  }
  .PromoBottom {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
}

/* .PromoText::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}
.PromoText::-webkit-scrollbar-track {
  background: #0d3146;
  border-radius: 5px;
}

.PromoText::-webkit-scrollbar-thumb {
  background: #154867;
  border-radius: 5px;
}

.PromoText::-webkit-scrollbar-thumb:hover {
  background: #199bcf; 
} */
