.Accordion {
    background: var(--db-duelbits-gray);
    border-radius: 0px;
    margin-block: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
    display: flex;
}

.Title {
    cursor: pointer;
    -webkit-box-flex: 2;
    flex-grow: 2;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background: rgb(18, 57, 83);
    border-radius: 0px;
    line-height: 20px;
    fill: rgb(255, 255, 255);
    white-space: nowrap;
    padding-inline: 12px;
    padding-block: 11px;
    -webkit-box-align: center;
    align-items: center;
}

.TitleIcon {
    width: 20px;
    height: 20px;
}
.TitleIcon svg {
    width: 20px;
    height: 20px;
}
.TitleIcon svg path {
    fill: rgb(82, 116, 144);
}

.TitleName {
    margin-inline-start: 10px;
    font-size: 13px;
    color: rgb(255, 255, 255);
    margin-inline: 14px auto;
    white-space: normal;
    overflow-wrap: break-word;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.DropdownIcon {
    width: 20px;
    height: 20px;
    flex: 0 0 20px;
    margin-inline: 8px 0px;
    transition: transform 0.3s ease 0s;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.Accordion.Open .DropdownIcon {
    transform: scaleY(-1);
}

.Title:hover {
    background: var(--db-dark-1);
}

.Accordion.Open .Title {
    background: rgb(18, 57, 83);
}

.AccordionBody > div {
    margin: 0;
}
