.AlternativeMethods {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.AlternativeMethods button, .AlternativeMethods div {
    cursor: pointer;
    border-radius: 0.375rem;
    /* background-color: var(--db-gray-4); */
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: #fff; */
    background: none;
    color: #fff;
}


.AlternativeMethods button:disabled {
    cursor: default;
    background-color: rgba(42, 50, 65, 0.5);
}