.MainSwiperWrapper {
    margin-left: -1rem;
    margin-right: -1rem;
    margin-top: -0.5rem;

    max-width: 100%;
    max-height: inherit;
}

:local(.MainSwiperWrapper) :global(.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal) {
    position: absolute;
    text-align: center;
    transition: opacity 0.3s;
    transform: translateZ(0);
    z-index: 10;
    right: 40px;
    top: 25px;
    bottom: 10px;
    left: auto;
    display: flex;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    gap: 3px;
    padding: 0;
}

:local(.MainSwiperWrapper) :global(.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet) {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    background: #000;
    opacity: 0.2;
    margin: 0 !important;
    height: 5px;
    width: 13px;
    border-radius: 0.375rem;
    --tw-bg-opacity: 1;
    background-color: rgb(49 75 97 / var(--tw-bg-opacity));
    transition: all 0.2s ease-in-out;
}

:local(.MainSwiperWrapper)
    :global(.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet.swiper-pagination-bullet-active) {
    width: 30px;
    border-radius: 0.375rem;
    border-color: transparent;
    --tw-bg-opacity: 1;
    background-color: rgb(71 200 122 / var(--tw-bg-opacity));
    box-shadow: none;
    opacity: 1;
}

@media screen and (min-width: 1080px) {
    .MainSwiperWrapper {
        margin-left: 0;
        margin-bottom: 0;
        margin-right: 0;
        margin-top: 0;
    }
}

@container (max-width: 978px) {
    :local(.MainSwiperWrapper) :global(.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal) {
        top: 1.5rem;
        right: 1rem;
    }
    :local(.MainSwiperWrapper) :global(.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet) {
        height: 0.125rem;
    }
}
