.NoResults {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.SlideContainer {
  height: 100%;
  width: 100%;
  transition: transform 0.2s linear;
  background: linear-gradient(180deg, #27465b 40%, transparent 90%);
  border-radius: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  aspect-ratio: 1;
  overflow: hidden;
}
.BackgroundContainer {
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
}
.SlideContainer:hover .BackgroundContainer {
  transform: scale(1.1);
  transition: transform 0.2s linear;
}
.Card {
  width: 100%;
  aspect-ratio: 1;
  /* aspect-ratio: 1; */
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  height: 100%;
}

.SlideContainer.Loading .Card {
  cursor: default;
}
.ImageContainer {
  width: 100%;
  aspect-ratio: 1;
  position: relative;
  border-radius: 1.5rem;
  height: 100%;
}

.ImageContainer img {
  border-radius: 1.5rem;
  object-fit: contain;
  aspect-ratio: 1;
  /* height: 160px;
      width: 160px;  */
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}
.SlideContainer:hover .OverlayContainer {
  opacity: 1;
}
.OverlayContainer {
  width: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.75);
  right: 0;
  height: 100%;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  display: flex;
  opacity: 0;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  transition: opacity 0.5s ease;
}

.InfoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.3rem 0.9rem 0.1rem 0.9rem;
  width: 100%;
  flex-wrap: wrap;
}
.InfoContainer > div {
  display: flex;
  flex-direction: column;
}

.InfoContainer svg {
  height: 1.2rem;
  width: 1.2rem;
}
.BgGameName {
  color: white;
  font-size: 1rem;
  font-weight: 600;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5em;
  text-align: center;
}

.BgVendor {
  font-size: 0.9rem;
  font-weight: 500;
  text-align: end;
}

.ButtonsContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
  padding: 0.3rem 0.3rem 0.3rem 0.3rem;
  width: 100%;
}
.FavContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0rem 0rem 0.5rem 0rem;
  justify-content: flex-end;
}
.FavContainer svg {
  height: 2rem;
  width: 2rem;
}
.FavoriteIcon path {
  fill: #db2777 !important;
}
.PlayBtnContainer {
  width: 100%;
  display: flex;
}
.PlayBtn {
  background: #7d7d7db6;
  color: var(--db-body-text);
  font-weight: 400;
  font-size: 12px;
  height: 3.5rem;
  width: 3.5rem;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  align-items: center;
  padding: 0 0.5rem;
}
.PlayBtn:hover {
  background: #5383a1b1;
  color: aliceblue;
}

.isBonus {
  width: 100%;
}

@keyframes jQMcyq {
  0%,
  100% {
    border-color: rgba(24, 95, 126, 0.8);
    box-shadow: none;
  }

  10%,
  90% {
    border-color: rgba(24, 95, 126, 1);
    box-shadow: none;
  }

  40%,
  60% {
    border-color: #b6efff;
    box-shadow: rgba(24, 95, 126, 0.3) 0px 0.25em 1em, #b6efff 0px 0px 0.5em;
  }
}

.isBonus button {
  border: 1px solid var(--db-gray-4);
  animation: 6s ease 0s infinite normal none running jQMcyq;
  height: 3.5rem;
  width: 3.5rem;
  margin-top: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: normal;
  background-color: #8dbcc96b;
  column-gap: 0.5rem;
  text-align: center;
  text-wrap: wrap;
}

.isBonus button svg {
  height: 20px;
  width: 20px;
}
.isBonus button span {
  color: #ebfbff;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5em;
  text-align: center;
  font-weight: 400;
  font-size: 0.8rem;
}
.isBonus > button:hover {
  background-color: #5ca9bea1;
  color: #ffffff;
}

@media (max-width: 500px) {
  .isBonus button svg {
    display: none;
  }
}

.Cat3Container {
  position: relative;
  display: flex;
  height: max-content;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  align-items: center;
  flex-direction: row;
  background-attachment: fixed;
  padding: 0.5rem;
  border-radius: 1rem;
}
.SwiperImage {
  width: 100%;
  padding: 1rem;
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  align-items: center;
  flex-direction: row;
  background-attachment: fixed;
}

.Cat3Container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  /* backdrop-filter: blur(1px); */
  z-index: 1;
}
.SwiperTitle {
  position: absolute;
  top: 2%;
  left: 3%;
  z-index: 20;
}
.SwiperTitle span {
  color: aliceblue;
  font-size: 1.7rem;
  font-weight: 700;
}
.SwiperImage img {
  z-index: 2; /* Ensure the image or content inside is above the overlay */
}

/* @keyframes rotateY {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
} */

.SmallImageContainer {
  height: 190px;
  width: -webkit-fill-available;
  z-index: 5;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  display: flex;
  /* animation: rotateY 8s infinite ease-in-out; */
  transform-style: preserve-3d;
}

.SwiperContainer {
  height: 100%;
  width: 80%;
  z-index: 5;
}
