.SwiperMenu > div > div {
  width: auto;
}

.SwiperMenu {
  display: flex;
  flex-direction: column;
  position: relative;
  row-gap: 0.2rem;
}
.SwiperMenu > div:last-child {
  position: relative !important;
  margin-top: 2px;
}
.SwiperMenu > div:last-child > div {
  background: #0a131c !important;
}
