/* mple/mov */
:root {
  --white: #fbfbfb;
  --white-lowop: #fbfbfbc2;

  --body-bg: #06172f;
  --topbar-bg: #05254d;
  --sb-search: #051831;
  --outer-container-left: #081d3c;
  --footer: #081f3c;
  --sidebar-category-group: var(--topbar-bg);
  --sidebar-left-menu-item: #113057;
  --sidebar-casino-active: #5d8cc838;
  --sidebar-casino-active-svg: #a7caf4;
  --track-events-color: #af8b0291;

  --brand-green: #e34510;
  --brand-green-lowop: #e3451083;

  --brand-color: #e34510;
  --text-in-brand: white;

  --placeholder-light: #9aa8bd;
  --light-blue: #ef5421;
  --light-blue-2: #16355a;
  --db-gray-4: #16355a;
  --mid-blue-1: #0d2b52;
  --mid-blue: #082043;
  --dark-blue-1: var(--body-bg);
  --dark-blue: #212744;
  --dark-blue-lowop: #051f3f;

  --db-white-hover: hsla(0, 0%, 100%, 0.05);
  --db-white-hover-light: hsla(0, 0%, 100%, 0.127);

  --odds-button-border: #c4d0e5;
  --odds-button: #0f3f7b;
  --odds-button-disabled: #2127448f;
  --card-odds-button: #c6d5e3c6;
  --card-odds-button-selected: #2127445d;
  --card-odds-button-disabled: #4f5f7030;

  --badge-new-purple: var(--brand-green-lowop);
  --live-badge-purple: var(--brand-green);

  --db-like: #db2777;
  --cancelled: #c13333;
  --cancelled-low-op: #c1333395;
  --green: #33c14b;
  --yellow-accent-color: #e7c731;

  --lightcolor-low-op: #dbcff44a;
  --lightcolor-op1: #cfdaf4;
  --darkcolor-op1: #212744;
  --darkcolor-low-op: #21274458;

  --layout-icon-btn: linear-gradient(222deg, #2f4065 0%, #203355 63%);
  --toast-grad-op1: var(--button-grad-op1);
  --casino-play-round: #a38cb476;
  --casino-play-button: linear-gradient(
    30deg,
    #6a479c 20%,
    #8b6dba 75%,
    #8468b0 110%
  );
  --casino-play-bonus-button: linear-gradient(
    120deg,
    #b09fd144 0%,
    #b09fd181 75%,
    #b09fd144 110%
  );
  --button-grad-op1: linear-gradient(307deg, #05254d 0%, #13305c 50%);
  --button-grad-op-mid: linear-gradient(222deg, #05254d 0%, #092345 50%);

  --provider-card-bg: #2e4058;
  --provider-card-bg-lowOp: #2334894f;

  --dropdown-bg: #133560;

  --swiper-container-grad: linear-gradient(45deg, #193663, #0c3365 120%);
  --accordion-header: linear-gradient(222deg, #05254d 0%, #052144 50%);
  --accordion-body: linear-gradient(72deg, #072447 0%, #072447 50%);
  --accordion-small-header: linear-gradient(222deg, #0d2e56 0%, #0d2e56 50%);
  --accordion-small-body: linear-gradient(222deg, #0d2e56 0%, #0d2e56 50%);
  --casino-options-bg: radial-gradient(
      65.95% 124.31% at 100% 100%,
      #2e4058 10.17%,
      #1f273f27
    ),
    #1a273c;

  --calendar: #152b4d;
  --calendar-hover: #264675d3;

  --wr-pending: linear-gradient(222deg, #636363 0%, #6e6e6eba 50%);
  /* --wr-approved: linear-gradient(
        161deg,
        #5f5f5f 0%,
        #606060 30%,
        rgba(59, 195, 191, 0.81) 100%
      ); */
  --wr-approved: rgba(87, 233, 228, 0.446) 100%;
  /* --wr-not-approved: linear-gradient(
        161deg,
        rgba(16, 50, 75, 0.92) 0%,
        rgba(93, 28, 28, 0.5) 40%,
        rgba(153, 30, 30, 0.74) 100%
      ); */
  --wr-not-approved: rgba(0, 0, 0, 0.578) 100%;
  /* --wr-confirmed: linear-gradient(
        161deg,
        #10324b 0%,
        #1c405d 30%,
        rgba(141, 239, 75, 0.47) 100%
      ); */
  --wr-confirmed: rgba(69, 163, 6, 0.295) 100%;
  /* --wr-payed: linear-gradient(
        161deg,
        #10324b 0%,
        #1c405d 30%,
        rgba(141, 239, 75, 0.47) 100%
      ); */
  --wr-payed: rgba(134, 226, 72, 0.68) 100%;
  /* --wr-cancelled: linear-gradient(
        161deg,
        #636363 0%,
        rgba(120, 36, 36, 0.479) 60%,
        rgba(153, 30, 30, 0.74) 100%
      ); */
  --wr-cancelled: rgba(153, 30, 30, 0.74) 100%;

  --event-board-bg: #2e4058e3;

  --db-modal-auth-height: 506px;
  --db-modal-announcement-height: 480px;
  --db-chat-width: 330px;
  --db-left-menu-width: 260px;
  --db-left-menu-width-collapsed: 60px;

  --db-minibar-height: 0px;
  --db-minibar-height-mobile: 0px;

  --db-topbar-height: 60px;
  --db-topbar-height-mobile: 50px;

  --db-header-height: calc(var(--db-topbar-height) + var(--db-minibar-height));
  --db-header-height-mobile: calc(
    var(--db-topbar-height-mobile) + var(--db-minibar-height-mobile)
  );

  --db-bottom-bar-height: 52px;
  --db-bottom-nav-height: 56px;
  --db-sticky-language-height: 0px;
  --db-scrollbar-width: 6px;
  --db-scrollbar-sm-width: 4px;
  --db-scrollbar-thumb-bg: var(--light-blue);
  --db-scrollbar-track-bg: var(--mid-blue-1);
  --db-transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  --db-modal-overlay: #04152c8c;
  --db-dropdown-shadow: -10px 6px 30px rgb(0 0 0 / 35%);
  --db-modal-header-height: 38px;
  --db-milestone-card-width: 140px;

  --blg: 217 59% 41%;
  --p: 278.08 68.197% 47.843%;
  --b2: 228.8 32.468% 23.588%;
  --b3: 228.8 32.468% 22.229%;
  --inc: 198 100% 22%;
  --suc: 237.83 100% 20.392%;
  --wac: 52.778 100% 21.216%;
  --erc: 10 100% 24.196%;
  --rounded-box: 1rem;
  --rounded-badge: 1.9rem;
  --animation-btn: 0.25s;
  --animation-input: 0.2s;
  --btn-focus-scale: 0.95;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: 0.5rem;
  --pf: 148.08 58.197% 47.843%;
  --pc: 0 0% 100%;
  --s: 15 87% 48%;
  --sf: 15 87% 48%;
  --sc: 0 0% 100%;
  --a: 200.59 80.952% 37.059%;
  --af: 200.59 80.952% 37.059%;
  --ac: 0 0% 100%;
  --n: 207.5 32.877% 28.627%;
  --nf: 207.5 32.877% 28.627%;
  --nc: 0 0% 100%;
  --b1: 208.8 32.468% 15.098%;
  --bc: 0 0% 100%;
  --in: 198 93.137% 60%;
  --su: 237.83 64.082% 51.961%;
  --wa: 42.778 96.429% 56.078%;
  --er: 0 90.541% 70.98%;
  --btn-text-case: none;
  --rounded-btn: 0.25rem;

  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 transparent;
  --tw-ring-shadow: 0 0 transparent;
  --tw-shadow: 0 0 transparent;
  --tw-shadow-colored: 0 0 transparent;

  --swiper-theme-color: #7291c7;
  color: hsla(var(--bc) / var(--tw-text-opacity, 1));
}
body {
  background-color: var(--body-bg);
}
