/* :root {
  --db-body-text: #b184e5;
  --db-body-12: #4f1685;
  --db-body-subheading: #9519cf;
  --db-brand-green: #9764f7;
  --db-brand-green-36: rgba(124, 35, 208, 0.36);
  --db-brand-color: #46056b;
  --db-brand-dark: #1d022a;
  --db-duelbits-blue: #4f1685;
  --db-duelbits-gray: #1d0e26;
  --db-duelbits-gray2: rgb(39, 14, 51);
  --db-footer-4: #7d19cf;
  --db-dark-1: rgb(46, 13, 62);
  --db-gray-1: #3b1253;
  --db-gray-2: #32144b;
  --db-gray-3: #4c1570;
  --db-gray-4: #55187e;
  --db-gray-5: #cf19cf;
  --db-gray-6: rgb(46, 12, 51);
  --db-gray-7: #6f1a91;
  --db-gray-10: #d284e5;
  --db-gray-11: rgba(80, 24, 126, 0.502);
  --db-gray-12: #738fa7;
  --db-gray-13: #c684e5;
  --db-gray-130: #925598;
  --db-gray-14: #521a91;
  --db-gray-666: #523a60;
  --db-gray-708: #461453;
  --db-gray-800: #7d5291;
  --db-gray-banner: #3e0d36;
  --db-green-2: #88fbc3;
  --db-purple-box: #8121c1;
  --db-purple-text: #c831e7;
  --db-pink-box: #8e30bc;
  --db-pink-text: #c434e3;
  --db-white-primary: #fbfbfb;
  --db-white-hover: hsla(0, 0%, 100%, 0.05);
  --db-white-hover-light: hsla(0, 0%, 100%, 0.17);
  --db-gold-primary: #ffcf52;
  --db-red-primary: #bb3c4b;
  --db-like: #c13333;
  --db-cancelled: #c13333;
  --db-error: #ec5750;
  --db-pending: #dfa032;
  --db-available: #21abc1;
} */

:root {
  --footer: #7a1b85;
  --db-body-text: #c084e5;
  --db-body-12: #7a1b85;
  --db-body-subheading: #b719cf;
  --db-brand-green: #9b2bbf;
  --db-brand-green-36: #9b2bbf5c;
  --db-brand-color: #853299;
  --db-brand-dark: #3d022a;
  --db-duelbits-blue: #7a1b85;
  --db-duelbits-gray: #1d0e26;
  --db-duelbits-gray2: rgb(14, 34, 51);
  --db-footer-4: #b719cf;
  --db-dark-1: #8e30bc;
  --db-gray-1: #123953;
  --db-gray-2: #14374b;
  --db-gray-3: #155270;
  --db-gray-4: #a45fce;
  --db-gray-5: #b719cf;
  --db-gray-6: rgb(12, 34, 51);
  --db-gray-7: #8a1b91;
  --db-gray-10: #c084e5;
  --db-gray-11: rgba(135, 24, 191, 0.5019607843137255);
  --db-gray-12: #738fa7;
  --db-gray-13: #c084e5;
  --db-gray-14: #8a1b91;
  --db-gray-666: #8d42a5;
  --db-gray-667: #803998cf;
  --db-gray-708: #543a85;
  --db-gray-800: #725491;
  --db-gray-banner: #3d022a;
  --db-green-2: #b088f5;
  --db-purple-box: #8121c1;
  --db-purple-text: #c831e7;
  --db-pink-box: #8e30bc;
  --db-pink-text: #c434e3;
  --db-white-primary: #fbfbfb;
  --db-white-hover: hsla(0, 0%, 100%, 0.05);
  --db-white-hover-light: hsla(0, 0%, 100%, 0.127);
  --db-gold-primary: #ffcf52;
  --db-red-primary: #bb3c4b;
  --db-like: #c13333;
  --db-cancelled: #c13333;
  --db-error: #ec5750;
  --db-pending: #dfa032;
  --db-available: #a421c1;
  --db-modal-auth-height: 506px;
  --db-modal-announcement-height: 480px;
  --db-chat-width: 330px;
  --db-left-menu-width: 260px;
  --db-left-menu-width-collapsed: 60px;
  --yellow-accent-color: #f1bf2b;

  --placeholder-light: #e6a5dd;
  --lightcolor-low-op: #e64ad8;
  --lightcolor-op1: #e6a5d8;
  --darkcolor-op1: #22031a;
  --darkcolor-low-op: #580000;

  --layout-icon-btn: linear-gradient(222deg, #542161 0%, #4a1536 63%);
  --toast-grad-op1: linear-gradient(50deg, #801761 0%, #962374 50%);
  --casino-play-round: #a47d9d76;
  --casino-play-button: linear-gradient(
    30deg,
    #7d1780 20%,
    #a93880 75%,
    #a4327e 110%
  );
  --casino-play-bonus-button: linear-gradient(
    120deg,
    #8dbcc944 0%,
    #8dbcc981 75%,
    #8dbcc944 110%
  );
  --button-grad-op1: linear-gradient(307deg, #e272ff5d 0%, #c757a7c957 50%);
  --button-grad-op-mid: linear-gradient(222deg, #bf2645bbf 0%, #a840398140 50%);
  --odds-button: #8a558a;
  --odds-button-disabled: #32041d8f;
  --card-odds-button: #d5a6c6c6;
  --card-odds-button-selected: #1e03135d;
  --card-odds-button-disabled: #5f425130;
  --provider-card-bg: #4c1a38;
  --provider-card-bg-lowOp: #8e53744f;

  --outer-container-left: #150000;
  --sidebar-category-group: #450e2f;
  --sidebar-left-menu-item: #41102b;
  --sidebar-casino-active: #cf37af52;
  --sidebar-casino-active-svg: #ff0dba;
  --dropdown-bg: #6d2348;

  --swiper-container-grad: linear-gradient(45deg, #c0239633, #701a4b 120%);
  --accordion-header: linear-gradient(222deg, #631e50 0%, #6d2655ba 50%);
  --accordion-body: linear-gradient(72deg, #631e5021 0%, #70551f57 50%);
  --accordion-small-header: linear-gradient(222deg, #631e50 0%, #6d2655ba 50%);
  --accordion-small-body: linear-gradient(72deg, #631e50357 0%, #265566d47 50%);
  --casino-options-bg: radial-gradient(
      65.95% 124.31% at 100% 100%,
      #390d2f 10.17%,
      #24031327
    ),
    #24031324;

  --event-board-bg: #7e0019e3;

  --db-minibar-height: 0px;
  --db-minibar-height-mobile: 0px;

  --db-topbar-height: 60px;
  --db-topbar-height-mobile: 50px;

  --db-header-height: calc(var(--db-topbar-height) + var(--db-minibar-height));
  --db-header-height-mobile: calc(
    var(--db-topbar-height-mobile) + var(--db-minibar-height-mobile)
  );

  --db-bottom-bar-height: 52px;
  --db-bottom-nav-height: 56px;
  --db-sticky-language-height: 0px;
  --db-scrollbar-width: 6px;
  --db-scrollbar-sm-width: 4px;
  --db-scrollbar-thumb-bg: var(--db-gray-5);
  --db-scrollbar-track-bg: var(--db-gray-3);
  --db-transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  --db-modal-overlay: #40132ec7;
  --db-dropdown-shadow: -10px 6px 30px rgb(0 0 0 / 35%);
  --db-modal-header-height: 38px;
  --db-milestone-card-width: 140px;

  --blg: 81 59% 41%;
  --p: 276 70.796% 44.314%;
  --b2: 208.8 32.468% 13.588%;
  --b3: 208.8 32.468% 12.229%;
  --inc: 198 100% 12%;
  --suc: 207.5 64.082% 51.961%;
  --wac: 190.59 80.952% 37.059%;
  --erc: 198 93.137% 60%;
  --rounded-box: 1rem;
  --rounded-badge: 1.9rem;
  --animation-btn: 0.25s;
  --animation-input: 0.2s;
  --btn-focus-scale: 0.95;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: 0.5rem;
  --pf: 276 70.796% 44.314%;
  --pc: 0 0% 100%;
  --s: 276 70.796% 44.314%;
  --sf: 276 70.796% 44.314%;
  --sc: 0 0% 100%;
  --a: 190.59 80.952% 37.059%;
  --af: 190.59 80.952% 37.059%;
  --ac: 0 0% 100%;
  --n: 207.5 32.877% 28.627%;
  --nf: 207.5 32.877% 28.627%;
  --nc: 0 0% 100%;
  --b1: 208.8 32.468% 15.098%;
  --bc: 0 0% 100%;
  --in: 198 93.137% 60%;
  --su: 157.83 64.082% 51.961%;
  --wa: 42.778 96.429% 56.078%;
  --er: 0 90.541% 70.98%;
  --btn-text-case: none;
  --rounded-btn: 0.25rem;

  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 transparent;
  --tw-ring-shadow: 0 0 transparent;
  --tw-shadow: 0 0 transparent;
  --tw-shadow-colored: 0 0 transparent;

  --swiper-theme-color: #8007ff;
  color: hsla(var(--bc) / var(--tw-text-opacity, 1));
}
