/* mple/mov */
:root {
  --white: #fbfbfb;
  --white-lowop: #fbfbfbc2;

  --body-bg: #1a273c;
  --topbar-bg: #243552;
  --sb-search: #324563;
  --footer: #131d2b;
  --sidebar-category-group: #1d3350;
  --sidebar-left-menu-item: #264474;
  --sidebar-casino-active: #c3a2d452;
  --sidebar-casino-active-svg: #d2b4ff;
  --track-events-color: #af8b0291;

  --brand-green: #7291c7;
  --brand-green-lowop: #7291c77a;

  --brand-color: #4d6aa3;
  --text-in-brand: black;

  --placeholder-light: #867ba7;
  --light-blue: #ac8bcf;
  --light-blue-2: #b09fd1;
  --db-gray-4: #6c7e9f;
  --mid-blue-1: #485e8c;
  --mid-blue: #3a467a;
  --dark-blue-1: #2b335a;
  --dark-blue: #212744;
  --dark-blue-lowop: #2127448c;

  --db-white-hover: hsla(0, 0%, 100%, 0.05);
  --db-white-hover-light: hsla(0, 0%, 100%, 0.127);

  --odds-button-border: #c4d0e5;
  --odds-button: #a5b8d8;
  --odds-button-disabled: #2127448f;
  --card-odds-button: #c6d5e3c6;
  --card-odds-button-selected: #2127445d;
  --card-odds-button-disabled: #4f5f7030;

  --badge-new-purple: #ac8bcf;
  --live-badge-purple: #cfa8e7;

  --db-like: #cf8be7;
  --cancelled: #c13333;
  --cancelled-low-op: #c1333395;
  --green: #33c14b;
  --yellow-accent-color: #e7c731;

  --lightcolor-low-op: #dbcff44a;
  --lightcolor-op1: #dbcff4;
  --darkcolor-op1: #212744;
  --darkcolor-low-op: #21274458;

  --layout-icon-btn: linear-gradient(222deg, #2f4065 0%, #203355 63%);
  --toast-grad-op1: linear-gradient(50deg, #4b5e78 0%, #5f7294 50%);
  --casino-play-round: #a38cb476;
  --casino-play-button: linear-gradient(
    30deg,
    #6a479c 20%,
    #8b6dba 75%,
    #8468b0 110%
  );
  --casino-play-bonus-button: linear-gradient(
    120deg,
    #b09fd144 0%,
    #b09fd181 75%,
    #b09fd144 110%
  );
  --button-grad-op1: linear-gradient(307deg, #dbcff45d 0%, #a5b8c757 50%);
  --button-grad-op-mid: linear-gradient(222deg, #4b5e78bf 0%, #61749440 50%);

  --provider-card-bg: #2e4058;
  --provider-card-bg-lowOp: #5e6c8e4f;

  --outer-container-left: #1a273c;

  --dropdown-bg: #3f4d66;

  --swiper-container-grad: linear-gradient(45deg, #c3a2d433, #2e4058 120%);
  --accordion-header: linear-gradient(222deg, #344763 0%, #3d5e7aba 50%);
  --accordion-body: linear-gradient(72deg, #34476321 0%, #3d5e7a5e 50%);
  --accordion-small-header: linear-gradient(222deg, #344763 0%, #3d5e7aba 50%);
  --accordion-small-body: linear-gradient(72deg, #34476357 0%, #3d5e7a47 50%);
  --casino-options-bg: radial-gradient(
      65.95% 124.31% at 100% 100%,
      #2e4058 10.17%,
      #1f273f27
    ),
    #1a273c;

  --event-board-bg: #2e4058e3;

  --db-modal-auth-height: 506px;
  --db-modal-announcement-height: 480px;
  --db-chat-width: 330px;
  --db-left-menu-width: 260px;
  --db-left-menu-width-collapsed: 60px;

  --db-minibar-height: 0px;
  --db-minibar-height-mobile: 0px;

  --db-topbar-height: 60px;
  --db-topbar-height-mobile: 50px;

  --db-header-height: calc(var(--db-topbar-height) + var(--db-minibar-height));
  --db-header-height-mobile: calc(
    var(--db-topbar-height-mobile) + var(--db-minibar-height-mobile)
  );

  --db-bottom-bar-height: 52px;
  --db-bottom-nav-height: 56px;
  --db-sticky-language-height: 0px;
  --db-scrollbar-width: 6px;
  --db-scrollbar-sm-width: 4px;
  --db-scrollbar-thumb-bg: var(--light-blue);
  --db-scrollbar-track-bg: var(--mid-blue-1);
  --db-transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  --db-modal-overlay: #2e4058c7;
  --db-dropdown-shadow: -10px 6px 30px rgb(0 0 0 / 35%);
  --db-modal-header-height: 38px;
  --db-milestone-card-width: 140px;

  --blg: 217 59% 41%;
  --p: 278.08 68.197% 47.843%;
  --b2: 228.8 32.468% 23.588%;
  --b3: 228.8 32.468% 22.229%;
  --inc: 198 100% 22%;
  --suc: 237.83 100% 20.392%;
  --wac: 52.778 100% 21.216%;
  --erc: 10 100% 24.196%;
  --rounded-box: 1rem;
  --rounded-badge: 1.9rem;
  --animation-btn: 0.25s;
  --animation-input: 0.2s;
  --btn-focus-scale: 0.95;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: 0.5rem;
  --pf: 148.08 58.197% 47.843%;
  --pc: 0 0% 100%;
  --s: 276 70.796% 44.314%;
  --sf: 276 70.796% 44.314%;
  --sc: 0 0% 100%;
  --a: 200.59 80.952% 37.059%;
  --af: 200.59 80.952% 37.059%;
  --ac: 0 0% 100%;
  --n: 207.5 32.877% 28.627%;
  --nf: 207.5 32.877% 28.627%;
  --nc: 0 0% 100%;
  --b1: 208.8 32.468% 15.098%;
  --bc: 0 0% 100%;
  --in: 198 93.137% 60%;
  --su: 237.83 64.082% 51.961%;
  --wa: 42.778 96.429% 56.078%;
  --er: 0 90.541% 70.98%;
  --btn-text-case: none;
  --rounded-btn: 0.25rem;

  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 transparent;
  --tw-ring-shadow: 0 0 transparent;
  --tw-shadow: 0 0 transparent;
  --tw-shadow-colored: 0 0 transparent;

  --swiper-theme-color: #7291c7;
  color: hsla(var(--bc) / var(--tw-text-opacity, 1));
}
body {
  background-color: var(--body-bg);
}
