/* fouksia */

/* :root {
  --footer: #7a1b85;
  --lightcolor-op1: #c084e5;
  --db-body-12: #7a1b85;
  --lightcolor-op1: #b719cf;
  --brand-green: #9b2bbf;
  --brand-green-36: #9b2bbf5c;
  --brand-color: #853299;
  --db-brand-dark: #3d022a;
  --db-duelbits-blue: #7a1b85;
  --topbar-bg: #1d0e26;
  --topbar-bg2: rgb(14, 34, 51);
  --db-footer-4: #b719cf;
  --body-bg: #8e30bc;
  --sb-search: #123953;
  --mid-blue: #14374b;
  --mid-blue-1: #155270;
  --db-gray-4: #a45fce;
  --light-blue: #b719cf;
  --dark-blue-1: rgb(12, 34, 51);
  --db-gray-7: #8a1b91;
  --db-gray-10: #c084e5;
  --db-gray-11: rgba(135, 24, 191, 0.5019607843137255);
  --placeholder-light: #738fa7;
  --odds-button-border: #c084e5;
  --db-gray-14: #8a1b91;
  --light-blue-2: #8d42a5;
  --db-gray-667: #803998cf;
  --db-gray-708: #543a85;
  --db-gray-800: #725491;
  --body-bg: #3d022a;
  --db-green-2: #b088f5;
  --badge-new-purple: #8121c1;
  --live-badge-purple: #c831e7;
  --db-pink-box: #8e30bc;
  --db-pink-text: #c434e3;
  --white: #fbfbfb;
  --db-white-hover: hsla(0, 0%, 100%, 0.05);
  --db-white-hover-light: hsla(0, 0%, 100%, 0.127);
  --db-gold-primary: #ffcf52;
  --cancelled: #bb3c4b;
  --db-like: #c13333;
  --cancelled: #c13333;
  --cancelled: #ec5750;
  --yellow-accent-color: #dfa032;
  --light-blue: #a421c1;
  --db-modal-auth-height: 506px;
  --db-modal-announcement-height: 480px;
  --db-chat-width: 330px;
  --db-left-menu-width: 260px;
  --db-left-menu-width-collapsed: 60px;
  --yellow-accent-color: #f1bf2b;

  --placeholder-light: #e6a5dd;
  --lightcolor-low-op: #e64ad8;
  --lightcolor-op1: #e6a5d8;
  --darkcolor-op1: #22031a;
  --darkcolor-low-op: #580000;

  --layout-icon-btn: linear-gradient(222deg, #542161 0%, #4a1536 63%);
  --toast-grad-op1: linear-gradient(50deg, #801761 0%, #962374 50%);
  --casino-play-round: #a47d9d76;
  --casino-play-button: linear-gradient(
    30deg,
    #7d1780 20%,
    #a93880 75%,
    #a4327e 110%
  );
  --casino-play-bonus-button: linear-gradient(
    120deg,
    #8dbcc944 0%,
    #8dbcc981 75%,
    #8dbcc944 110%
  );
  --button-grad-op1: linear-gradient(307deg, #e272ff5d 0%, #c757a7c957 50%);
  --button-grad-op-mid: linear-gradient(222deg, #bf2645bbf 0%, #a840398140 50%);
  --odds-button: #8a558a;
  --odds-button-disabled: #32041d8f;
  --card-odds-button: #d5a6c6c6;
  --card-odds-button-selected: #1e03135d;
  --card-odds-button-disabled: #5f425130;
  --provider-card-bg: #4c1a38;
  --provider-card-bg-lowOp: #8e53744f;

  --outer-container-left: #150000;
  --sidebar-category-group: #450e2f;
  --sidebar-left-menu-item: #41102b;
  --sidebar-casino-active: #cf37af52;
  --sidebar-casino-active-svg: #ff0dba;
  --dropdown-bg: #6d2348;

  --swiper-container-grad: linear-gradient(45deg, #c0239633, #701a4b 120%);
  --accordion-header: linear-gradient(222deg, #631e50 0%, #6d2655ba 50%);
  --accordion-body: linear-gradient(72deg, #631e5021 0%, #70551f57 50%);
  --accordion-small-header: linear-gradient(222deg, #631e50 0%, #6d2655ba 50%);
  --accordion-small-body: linear-gradient(72deg, #631e50357 0%, #265566d47 50%);
  --casino-options-bg: radial-gradient(
      65.95% 124.31% at 100% 100%,
      #390d2f 10.17%,
      #24031327
    ),
    #24031324;

  --event-board-bg: #7e0019e3;

  --db-minibar-height: 0px;
  --db-minibar-height-mobile: 0px;

  --db-topbar-height: 60px;
  --db-topbar-height-mobile: 50px;

  --db-header-height: calc(var(--db-topbar-height) + var(--db-minibar-height));
  --db-header-height-mobile: calc(
    var(--db-topbar-height-mobile) + var(--db-minibar-height-mobile)
  );

  --db-bottom-bar-height: 52px;
  --db-bottom-nav-height: 56px;
  --db-sticky-language-height: 0px;
  --db-scrollbar-width: 6px;
  --db-scrollbar-sm-width: 4px;
  --db-scrollbar-thumb-bg: var(--light-blue);
  --db-scrollbar-track-bg: var(--mid-blue-1);
  --db-transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  --db-modal-overlay: #40132ec7;
  --db-dropdown-shadow: -10px 6px 30px rgb(0 0 0 / 35%);
  --db-modal-header-height: 38px;
  --db-milestone-card-width: 140px;

  --blg: 81 59% 41%;
  --p: 276 70.796% 44.314%;
  --b2: 208.8 32.468% 13.588%;
  --b3: 208.8 32.468% 12.229%;
  --inc: 198 100% 12%;
  --suc: 207.5 64.082% 51.961%;
  --wac: 190.59 80.952% 37.059%;
  --erc: 198 93.137% 60%;
  --rounded-box: 1rem;
  --rounded-badge: 1.9rem;
  --animation-btn: 0.25s;
  --animation-input: 0.2s;
  --btn-focus-scale: 0.95;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: 0.5rem;
  --pf: 276 70.796% 44.314%;
  --pc: 0 0% 100%;
  --s: 276 70.796% 44.314%;
  --sf: 276 70.796% 44.314%;
  --sc: 0 0% 100%;
  --a: 190.59 80.952% 37.059%;
  --af: 190.59 80.952% 37.059%;
  --ac: 0 0% 100%;
  --n: 207.5 32.877% 28.627%;
  --nf: 207.5 32.877% 28.627%;
  --nc: 0 0% 100%;
  --b1: 208.8 32.468% 15.098%;
  --bc: 0 0% 100%;
  --in: 198 93.137% 60%;
  --su: 157.83 64.082% 51.961%;
  --wa: 42.778 96.429% 56.078%;
  --er: 0 90.541% 70.98%;
  --btn-text-case: none;
  --rounded-btn: 0.25rem;

  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 transparent;
  --tw-ring-shadow: 0 0 transparent;
  --tw-shadow: 0 0 transparent;
  --tw-shadow-colored: 0 0 transparent;

  --swiper-theme-color: #8007ff;
  color: hsla(var(--bc) / var(--tw-text-opacity, 1));
} */

/* mov/ kitrino */

:root {
  --white: #fbfbfb;

  --body-bg: #200c36;
  --topbar-bg: #291a3e;
  --sb-search: #3d235e;
  --footer: #180a2d;
  --sidebar-category-group: #2f1a50;
  --sidebar-left-menu-item: #361d58;
  --sidebar-casino-active: #f2d05252;
  --sidebar-casino-active-svg: #f6d700;

  --brand-green: #b06fcc;
  --brand-green-lowop: #b06fcc7a;

  --brand-color: #9857a8;

  --placeholder-light: #a783bf;
  --light-blue: #d4a62e;
  --light-blue-2: #e2b44a;
  --db-gray-4: #8e5e94;
  --mid-blue-1: #794980;
  --mid-blue: #663b6e;
  --dark-blue-1: #512c58;
  --dark-blue: #3e2143;
  --dark-blue-lowop: #3e21438c;

  --db-white-hover: hsla(0, 0%, 100%, 0.05);
  --db-white-hover-light: hsla(0, 0%, 100%, 0.127);

  --odds-button-border: #e5c584;
  --odds-button: #c2a558;
  --odds-button-disabled: #3e21438f;
  --card-odds-button: #d5a6c6c6;
  --card-odds-button-selected: #3e21435d;
  --card-odds-button-disabled: #5f425f30;

  --badge-new-purple: #af37cf;
  --live-badge-purple: #e79a31;

  --db-like: #e74646;
  --cancelled: #e74646;

  --yellow-accent-color: #f1df4b;

  --lightcolor-low-op: #f5e0944a;
  --lightcolor-op1: #f5e094;
  --darkcolor-op1: #3e2143;
  --darkcolor-low-op: #3e214358;

  --layout-icon-btn: linear-gradient(222deg, #5e214f 0%, #421636 63%);
  --toast-grad-op1: linear-gradient(50deg, #7c3b58 0%, #98546e 50%);
  --casino-play-round: #9c779776;
  --casino-play-button: linear-gradient(
    30deg,
    #a06518 20%,
    #d08942 75%,
    #cb8040 110%
  );
  --casino-play-bonus-button: linear-gradient(
    120deg,
    #dbc14444 0%,
    #dbc18181 75%,
    #dbc14444 110%
  );
  --button-grad-op1: linear-gradient(307deg, #f5e0945d 0%, #c6a75757 50%);
  --button-grad-op-mid: linear-gradient(222deg, #614a5cbf 0%, #815d7440 50%);

  --provider-card-bg: #5a2f6c;
  --provider-card-bg-lowOp: #8e5e944f;

  --outer-container-left: #00000015;

  --dropdown-bg: #4b275d;

  --swiper-container-grad: linear-gradient(45deg, #f2d05233, #5a2f6c 120%);
  --accordion-header: linear-gradient(222deg, #5c2053 0%, #7a3d71ba 50%);
  --accordion-body: linear-gradient(72deg, #5c205321 0%, #7c3b585e 50%);
  --accordion-small-header: linear-gradient(222deg, #5c2053 0%, #7a3d71ba 50%);
  --accordion-small-body: linear-gradient(72deg, #5c205357 0%, #7a3d7147 50%);
  --casino-options-bg: radial-gradient(
      65.95% 124.31% at 100% 100%,
      #4a2058 10.17%,
      #1f0a2727
    ),
    #24092a;

  --event-board-bg: #4a2058e3;

  --db-modal-auth-height: 506px;
  --db-modal-announcement-height: 480px;
  --db-chat-width: 330px;
  --db-left-menu-width: 260px;
  --db-left-menu-width-collapsed: 60px;

  --db-minibar-height: 0px;
  --db-minibar-height-mobile: 0px;

  --db-topbar-height: 60px;
  --db-topbar-height-mobile: 50px;

  --db-header-height: calc(var(--db-topbar-height) + var(--db-minibar-height));
  --db-header-height-mobile: calc(
    var(--db-topbar-height-mobile) + var(--db-minibar-height-mobile)
  );

  --db-bottom-bar-height: 52px;
  --db-bottom-nav-height: 56px;
  --db-sticky-language-height: 0px;
  --db-scrollbar-width: 6px;
  --db-scrollbar-sm-width: 4px;
  --db-scrollbar-thumb-bg: var(--light-blue);
  --db-scrollbar-track-bg: var(--mid-blue-1);
  --db-transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  --db-modal-overlay: #4a2058c7;
  --db-dropdown-shadow: -10px 6px 30px rgb(0 0 0 / 35%);
  --db-modal-header-height: 38px;
  --db-milestone-card-width: 140px;

  --blg: 277 59% 41%;
  --p: 48.08 68.197% 47.843%;
  --b2: 288.8 32.468% 23.588%;
  --b3: 288.8 32.468% 22.229%;
  --inc: 278 100% 22%;
  --suc: 327.83 100% 20.392%;
  --wac: 52.778 100% 21.216%;
  --erc: 10 100% 24.196%;
  --rounded-box: 1rem;
  --rounded-badge: 1.9rem;
  --animation-btn: 0.25s;
  --animation-input: 0.2s;
  --btn-focus-scale: 0.95;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: 0.5rem;
  --pf: 148.08 58.197% 47.843%;
  --pc: 0 0% 100%;
  --s: 276 70.796% 44.314%;
  --sf: 276 70.796% 44.314%;
  --sc: 0 0% 100%;
  --a: 290.59 80.952% 37.059%;
  --af: 290.59 80.952% 37.059%;
  --ac: 0 0% 100%;
  --n: 207.5 32.877% 28.627%;
  --nf: 207.5 32.877% 28.627%;
  --nc: 0 0% 100%;
  --b1: 208.8 32.468% 15.098%;
  --bc: 0 0% 100%;
  --in: 198 93.137% 60%;
  --su: 157.83 64.082% 51.961%;
  --wa: 42.778 96.429% 56.078%;
  --er: 0 90.541% 70.98%;
  --btn-text-case: none;
  --rounded-btn: 0.25rem;

  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 transparent;
  --tw-ring-shadow: 0 0 transparent;
  --tw-shadow: 0 0 transparent;
  --tw-shadow-colored: 0 0 transparent;

  --swiper-theme-color: #af37cf;
  color: hsla(var(--bc) / var(--tw-text-opacity, 1));
}
body {
  background-color: var(--body-bg);
}

/* prasino/kitrino */
/* :root {
  --white: #fbfbfb;

  --body-bg: #1c3a27;
  --topbar-bg: #294c35;
  --sb-search: #3a614a;
  --footer: #14291c;
  --sidebar-category-group: #1f4633;
  --sidebar-left-menu-item: #275540;
  --sidebar-casino-active: #f2d05252;
  --sidebar-casino-active-svg: #f6d700;

  --brand-green: #f1df4b;
  --brand-green-lowop: #88be2b7a;

  --brand-color: #4a9932;

  --placeholder-light: #739f75;
  --light-blue: #d4a62e;
  --light-blue-2: #e2b44a;
  --db-gray-4: #7e9f6c;
  --mid-blue-1: #5e8c58;
  --mid-blue: #467a43;
  --dark-blue-1: #335a30;
  --dark-blue: #274523;
  --dark-blue-lowop: #2745238c;

  --db-white-hover: hsla(0, 0%, 100%, 0.05);
  --db-white-hover-light: hsla(0, 0%, 100%, 0.127);

  --odds-button-border: #e5c584;
  --odds-button: #bfa558;
  --odds-button-disabled: #2745238f;
  --card-odds-button: #d5e3c6c6;
  --card-odds-button-selected: #2745235d;
  --card-odds-button-disabled: #5f705f30;

  --badge-new-purple: #88be2b;
  --live-badge-purple: #e7c731;

  --db-like: #e7b146;
  --cancelled: #e7b146;

  --yellow-accent-color: #f1df4b;

  --lightcolor-low-op: #f5e0944a;
  --lightcolor-op1: #f5e094;
  --darkcolor-op1: #274523;
  --darkcolor-low-op: #27452358;

  --layout-icon-btn: linear-gradient(222deg, #36593c 0%, #29472e 63%);
  --toast-grad-op1: linear-gradient(50deg, #4a634e 0%, #567a5f 50%);
  --casino-play-round: #9caf8a76;
  --casino-play-button: linear-gradient(
    30deg,
    #a58e18 20%,
    #d0ad42 75%,
    #c4a440 110%
  );
  --casino-play-bonus-button: linear-gradient(
    120deg,
    #dbcc4444 0%,
    #dbcc8181 75%,
    #dbcc4444 110%
  );
  --button-grad-op1: linear-gradient(307deg, #f5e0945d 0%, #c6b75757 50%);
  --button-grad-op-mid: linear-gradient(222deg, #5e6c4abf 0%, #7a815d40 50%);

  --provider-card-bg: #375840;
  --provider-card-bg-lowOp: #6c8e5e4f;

  --outer-container-left: #00000015;

  --dropdown-bg: #476146;

  --swiper-container-grad: linear-gradient(45deg, #f2d05233, #375840 120%);
  --accordion-header: linear-gradient(222deg, #426352 0%, #5c7a61ba 50%);
  --accordion-body: linear-gradient(72deg, #42635221 0%, #5a7c585e 50%);
  --accordion-small-header: linear-gradient(222deg, #426352 0%, #5c7a61ba 50%);
  --accordion-small-body: linear-gradient(72deg, #42635257 0%, #5c7a6147 50%);
  --casino-options-bg: radial-gradient(
      65.95% 124.31% at 100% 100%,
      #325839 10.17%,
      #1f271f27
    ),
    #203a2a;

  --event-board-bg: #325839e3;

  --db-modal-auth-height: 506px;
  --db-modal-announcement-height: 480px;
  --db-chat-width: 330px;
  --db-left-menu-width: 260px;
  --db-left-menu-width-collapsed: 60px;

  --db-minibar-height: 0px;
  --db-minibar-height-mobile: 0px;

  --db-topbar-height: 60px;
  --db-topbar-height-mobile: 50px;

  --db-header-height: calc(var(--db-topbar-height) + var(--db-minibar-height));
  --db-header-height-mobile: calc(
    var(--db-topbar-height-mobile) + var(--db-minibar-height-mobile)
  );

  --db-bottom-bar-height: 52px;
  --db-bottom-nav-height: 56px;
  --db-sticky-language-height: 0px;
  --db-scrollbar-width: 6px;
  --db-scrollbar-sm-width: 4px;
  --db-scrollbar-thumb-bg: var(--light-blue);
  --db-scrollbar-track-bg: var(--mid-blue-1);
  --db-transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  --db-modal-overlay: #325839c7;
  --db-dropdown-shadow: -10px 6px 30px rgb(0 0 0 / 35%);
  --db-modal-header-height: 38px;
  --db-milestone-card-width: 140px;

  --blg: 117 59% 41%;
  --p: 48.08 68.197% 47.843%;
  --b2: 138.8 32.468% 23.588%;
  --b3: 138.8 32.468% 22.229%;
  --inc: 98 100% 22%;
  --suc: 137.83 100% 20.392%;
  --wac: 52.778 100% 21.216%;
  --erc: 10 100% 24.196%;
  --rounded-box: 1rem;
  --rounded-badge: 1.9rem;
  --animation-btn: 0.25s;
  --animation-input: 0.2s;
  --btn-focus-scale: 0.95;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: 0.5rem;
  --pf: 148.08 58.197% 47.843%;
  --pc: 0 0% 100%;
  --s: 276 70.796% 44.314%;
  --sf: 276 70.796% 44.314%;
  --sc: 0 0% 100%;
  --a: 90.59 80.952% 37.059%;
  --af: 90.59 80.952% 37.059%;
  --ac: 0 0% 100%;
  --n: 107.5 32.877% 28.627%;
  --nf: 107.5 32.877% 28.627%;
  --nc: 0 0% 100%;
  --b1: 108.8 32.468% 15.098%;
  --bc: 0 0% 100%;
  --in: 98 93.137% 60%;
  --su: 137.83 64.082% 51.961%;
  --wa: 42.778 96.429% 56.078%;
  --er: 0 90.541% 70.98%;
  --btn-text-case: none;
  --rounded-btn: 0.25rem;

  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 transparent;
  --tw-ring-shadow: 0 0 transparent;
  --tw-shadow: 0 0 transparent;
  --tw-shadow-colored: 0 0 transparent;

  --swiper-theme-color: #88be2b;
  color: hsla(var(--bc) / var(--tw-text-opacity, 1));
} */

/* mple/mov */
/* :root {
  --white: #fbfbfb;

  --body-bg: #1a273c;
  --topbar-bg: #243552;
  --sb-search: #324563;
  --footer: #131d2b;
  --sidebar-category-group: #1d3350;
  --sidebar-left-menu-item: #264474;
  --sidebar-casino-active: #c3a2d452;
  --sidebar-casino-active-svg: #d2b4ff;

  --brand-green: #7291c7;
  --brand-green-lowop: #7291c77a;

  --brand-color: #4d6aa3;

  --placeholder-light: #867ba7;
  --light-blue: #ac8bcf;
  --light-blue-2: #b09fd1;
  --db-gray-4: #6c7e9f;
  --mid-blue-1: #485e8c;
  --mid-blue: #3a467a;
  --dark-blue-1: #2b335a;
  --dark-blue: #212744;
  --dark-blue-lowop: #2127448c;

  --db-white-hover: hsla(0, 0%, 100%, 0.05);
  --db-white-hover-light: hsla(0, 0%, 100%, 0.127);

  --odds-button-border: #c4d0e5;
  --odds-button: #a5b8d8;
  --odds-button-disabled: #2127448f;
  --card-odds-button: #c6d5e3c6;
  --card-odds-button-selected: #2127445d;
  --card-odds-button-disabled: #4f5f7030;

  --badge-new-purple: #ac8bcf;
  --live-badge-purple: #cfa8e7;

  --db-like: #cf8be7;
  --cancelled: #cf8be7;

  --yellow-accent-color: #e7c731;

  --lightcolor-low-op: #dbcff44a;
  --lightcolor-op1: #dbcff4;
  --darkcolor-op1: #212744;
  --darkcolor-low-op: #21274458;

  --layout-icon-btn: linear-gradient(222deg, #2f4065 0%, #203355 63%);
  --toast-grad-op1: linear-gradient(50deg, #4b5e78 0%, #5f7294 50%);
  --casino-play-round: #a38cb476;
  --casino-play-button: linear-gradient(
    30deg,
    #6a479c 20%,
    #8b6dba 75%,
    #8468b0 110%
  );
  --casino-play-bonus-button: linear-gradient(
    120deg,
    #b09fd144 0%,
    #b09fd181 75%,
    #b09fd144 110%
  );
  --button-grad-op1: linear-gradient(307deg, #dbcff45d 0%, #a5b8c757 50%);
  --button-grad-op-mid: linear-gradient(222deg, #4b5e78bf 0%, #61749440 50%);

  --provider-card-bg: #2e4058;
  --provider-card-bg-lowOp: #5e6c8e4f;

  --outer-container-left: #00000015;

  --dropdown-bg: #3f4d66;

  --swiper-container-grad: linear-gradient(45deg, #c3a2d433, #2e4058 120%);
  --accordion-header: linear-gradient(222deg, #344763 0%, #3d5e7aba 50%);
  --accordion-body: linear-gradient(72deg, #34476321 0%, #3d5e7a5e 50%);
  --accordion-small-header: linear-gradient(222deg, #344763 0%, #3d5e7aba 50%);
  --accordion-small-body: linear-gradient(72deg, #34476357 0%, #3d5e7a47 50%);
  --casino-options-bg: radial-gradient(
      65.95% 124.31% at 100% 100%,
      #2e4058 10.17%,
      #1f273f27
    ),
    #1a273c;

  --event-board-bg: #2e4058e3;

  --db-modal-auth-height: 506px;
  --db-modal-announcement-height: 480px;
  --db-chat-width: 330px;
  --db-left-menu-width: 260px;
  --db-left-menu-width-collapsed: 60px;

  --db-minibar-height: 0px;
  --db-minibar-height-mobile: 0px;

  --db-topbar-height: 60px;
  --db-topbar-height-mobile: 50px;

  --db-header-height: calc(var(--db-topbar-height) + var(--db-minibar-height));
  --db-header-height-mobile: calc(
    var(--db-topbar-height-mobile) + var(--db-minibar-height-mobile)
  );

  --db-bottom-bar-height: 52px;
  --db-bottom-nav-height: 56px;
  --db-sticky-language-height: 0px;
  --db-scrollbar-width: 6px;
  --db-scrollbar-sm-width: 4px;
  --db-scrollbar-thumb-bg: var(--light-blue);
  --db-scrollbar-track-bg: var(--mid-blue-1);
  --db-transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  --db-modal-overlay: #2e4058c7;
  --db-dropdown-shadow: -10px 6px 30px rgb(0 0 0 / 35%);
  --db-modal-header-height: 38px;
  --db-milestone-card-width: 140px;

  --blg: 217 59% 41%;
  --p: 278.08 68.197% 47.843%;
  --b2: 228.8 32.468% 23.588%;
  --b3: 228.8 32.468% 22.229%;
  --inc: 198 100% 22%;
  --suc: 237.83 100% 20.392%;
  --wac: 52.778 100% 21.216%;
  --erc: 10 100% 24.196%;
  --rounded-box: 1rem;
  --rounded-badge: 1.9rem;
  --animation-btn: 0.25s;
  --animation-input: 0.2s;
  --btn-focus-scale: 0.95;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: 0.5rem;
  --pf: 148.08 58.197% 47.843%;
  --pc: 0 0% 100%;
  --s: 276 70.796% 44.314%;
  --sf: 276 70.796% 44.314%;
  --sc: 0 0% 100%;
  --a: 200.59 80.952% 37.059%;
  --af: 200.59 80.952% 37.059%;
  --ac: 0 0% 100%;
  --n: 207.5 32.877% 28.627%;
  --nf: 207.5 32.877% 28.627%;
  --nc: 0 0% 100%;
  --b1: 208.8 32.468% 15.098%;
  --bc: 0 0% 100%;
  --in: 198 93.137% 60%;
  --su: 237.83 64.082% 51.961%;
  --wa: 42.778 96.429% 56.078%;
  --er: 0 90.541% 70.98%;
  --btn-text-case: none;
  --rounded-btn: 0.25rem;

  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 transparent;
  --tw-ring-shadow: 0 0 transparent;
  --tw-shadow: 0 0 transparent;
  --tw-shadow-colored: 0 0 transparent;

  --swiper-theme-color: #7291c7;
  color: hsla(var(--bc) / var(--tw-text-opacity, 1));
} */

/* kafe/kitrino */
/* :root {
  --white: #fbfbfb;

  --body-bg: #1c1c1c;
  --topbar-bg: #2b2b2b;
  --sb-search: #383838;
  --footer: #121212;
  --sidebar-category-group: #1f1f1f;
  --sidebar-left-menu-item: #262626;
  --sidebar-casino-active: #bfbfbf52;
  --sidebar-casino-active-svg: #d0d0d0;

  --brand-green: #a3a3a3;
  --brand-green: #f1ea27;
  --brand-green-lowop: #a3a3a37a;

  --brand-color: #6a6a6a;

  --placeholder-light: #8c8c8c;
  --light-blue: #d4d4d4;
  --light-blue-2: #bfbfbf;
  --db-gray-4: #7e7e7e;
  --mid-blue-1: #4a4a4a;
  --mid-blue: #3a3a3a;
  --dark-blue-1: #2b2b2b;
  --dark-blue: #212121;
  --dark-blue-lowop: #2121218c;

  --db-white-hover: hsla(0, 0%, 100%, 0.05);
  --db-white-hover-light: hsla(0, 0%, 100%, 0.127);

  --odds-button-border: #c4c4c4;
  --odds-button: #a5a5a5;
  --odds-button-disabled: #2121218f;
  --card-odds-button: #c6c6c6c6;
  --card-odds-button-selected: #2121215d;
  --card-odds-button-disabled: #4f4f4f30;

  --badge-new-purple: #acacac;
  --live-badge-purple: #cfcfcf;

  --db-like: #cfcfcf;
  --cancelled: #cfcfcf;

  --yellow-accent-color: #d3d3d3;

  --lightcolor-low-op: #dbdbdb4a;
  --lightcolor-op1: #dbdbdb;
  --darkcolor-op1: #212121;
  --darkcolor-low-op: #21212158;

  --layout-icon-btn: linear-gradient(222deg, #2f2f2f 0%, #202020 63%);
  --toast-grad-op1: linear-gradient(50deg, #4b4b4b 0%, #5f5f5f 50%);
  --casino-play-round: #a3a3a376;
  --casino-play-button: linear-gradient(
    30deg,
    #6a6a6a 20%,
    #8b8b8b 75%,
    #848484 110%
  );
  --casino-play-bonus-button: linear-gradient(
    120deg,
    #bfbfbf44 0%,
    #bfbfbf81 75%,
    #bfbfbf44 110%
  );
  --button-grad-op1: linear-gradient(307deg, #dbdbdb5d 0%, #a5a5a557 50%);
  --button-grad-op-mid: linear-gradient(222deg, #4b4b4bbf 0%, #5f5f5f40 50%);

  --provider-card-bg: #2e2e2e;
  --provider-card-bg-lowOp: #5e5e5e4f;

  --outer-container-left: #00000015;

  --dropdown-bg: #3f3f3f;

  --swiper-container-grad: linear-gradient(45deg, #bfbfbf33, #2e2e2e 120%);
  --accordion-header: linear-gradient(222deg, #343434 0%, #3d3d3dba 50%);
  --accordion-body: linear-gradient(72deg, #34343421 0%, #3d3d3d5e 50%);
  --accordion-small-header: linear-gradient(222deg, #343434 0%, #3d3d3dba 50%);
  --accordion-small-body: linear-gradient(72deg, #34343457 0%, #3d3d3d47 50%);
  --casino-options-bg: radial-gradient(
      65.95% 124.31% at 100% 100%,
      #2e2e2e 10.17%,
      #1f1f1f27
    ),
    #1c1c1c;

  --event-board-bg: #2e2e2ee3;

  --db-modal-auth-height: 506px;
  --db-modal-announcement-height: 480px;
  --db-chat-width: 330px;
  --db-left-menu-width: 260px;
  --db-left-menu-width-collapsed: 60px;

  --db-minibar-height: 0px;
  --db-minibar-height-mobile: 0px;

  --db-topbar-height: 60px;
  --db-topbar-height-mobile: 50px;

  --db-header-height: calc(var(--db-topbar-height) + var(--db-minibar-height));
  --db-header-height-mobile: calc(
    var(--db-topbar-height-mobile) + var(--db-minibar-height-mobile)
  );

  --db-bottom-bar-height: 52px;
  --db-bottom-nav-height: 56px;
  --db-sticky-language-height: 0px;
  --db-scrollbar-width: 6px;
  --db-scrollbar-sm-width: 4px;
  --db-scrollbar-thumb-bg: var(--light-blue);
  --db-scrollbar-track-bg: var(--mid-blue-1);
  --db-transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  --db-modal-overlay: #2e2e2ec7;
  --db-dropdown-shadow: -10px 6px 30px rgb(0 0 0 / 35%);
  --db-modal-header-height: 38px;
  --db-milestone-card-width: 140px;

  --blg: 0 0% 41%;
  --p: 0 0% 47%;
  --b2: 0 0% 23%;
  --b3: 0 0% 22%;
  --inc: 0 0% 22%;
  --suc: 0 0% 20%;
  --wac: 0 0% 21%;
  --erc: 0 0% 24%;
  --rounded-box: 1rem;
  --rounded-badge: 1.9rem;
  --animation-btn: 0.25s;
  --animation-input: 0.2s;
  --btn-focus-scale: 0.95;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: 0.5rem;
  --pf: 0 0% 47%;
  --pc: 0 0% 100%;
  --s: 0 0% 44%;
  --sf: 0 0% 44%;
  --sc: 0 0% 100%;
  --a: 0 0% 37%;
  --af: 0 0% 37%;
  --ac: 0 0% 100%;
  --n: 0 0% 28%;
  --nf: 0 0% 28%;
  --nc: 0 0% 100%;
  --b1: 0 0% 15%;
  --bc: 0 0% 100%;
  --in: 0 0% 60%;
  --su: 0 0% 51%;
  --wa: 0 0% 56%;
  --er: 0 0% 70%;
  --btn-text-case: none;
  --rounded-btn: 0.25rem;

  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 transparent;
  --tw-ring-shadow: 0 0 transparent;
  --tw-shadow: 0 0 transparent;
  --tw-shadow-colored: 0 0 transparent;

  --swiper-theme-color: #a3a3a3;
  color: hsla(var(--bc) / var(--tw-text-opacity, 1));
} */
