.ArrowButton {
  position: relative;
  display: none;
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
  border-radius: 50%;
  border-style: none;
  /* background-color: var(--db-gray-1); */
  background: linear-gradient(159deg, #0e344d 0%, #1b4560 88%);
  align-items: center;
  justify-content: center;
}

.showArrows.ArrowButton {
  position: relative;
  display: flex;
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
  border-radius: 50%;
  border-style: none;
  background-color: var(--db-gray-1);
  align-items: center;
  justify-content: center;
}

.ArrowButton svg {
  height: 0.5rem;
  width: 0.5rem;
}

.Disabled.ArrowButton {
  cursor: default;
  background: linear-gradient(159deg, #0e344d2f 0%, #1b45602f 88%);
}
.Disabled.ArrowButton svg path {
  fill: var(--db-gray-12);
}

.ArrowButton:not(.Disabled):active {
  --tw-scale-x: 1.1;
  --tw-scale-y: 1.1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@media (min-width: 640px) {
  .ArrowButton {
    display: flex;
  }
}
