.CloseButton {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.375rem;
    background-color: initial;
    outline: 2px solid transparent;
    outline-offset: 2px;
    transform-origin: center;
    border: 0;
    box-sizing: border-box;
    padding: 0;
}

.CloseButton svg {
    height: 1.5rem;
    width: 1.5rem;
    padding: 0.375rem;
    box-sizing: border-box;
}

.CloseButton:hover {
    background-color: var(--db-gray-4);
}

.TimeIcon {
    height: 1.5rem;
    width: 1.5rem;
    padding: 0.25rem !important;
}
.TimeIcon path {
    fill: #fff;
}
