.MenuButton {
  /* background: linear-gradient(307deg, #72dcff5d 0%, #57a7c957 50%); */
  background: var(--button-grad-op1);
  border: none;
  border-radius: 6px;
  color: rgb(228, 248, 255);
  fill: rgb(228, 248, 255);
  cursor: pointer;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-style: inherit;
  font-variant-ligatures: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-alternates: inherit;
  font-variant-position: inherit;
  font-weight: inherit;
  font-stretch: inherit;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  font-optical-sizing: inherit;
  font-kerning: inherit;
  font-variation-settings: inherit;
  font-variant-numeric: tabular-nums;
  font-feature-settings: "tnum";
  height: 36px;
  overflow: hidden;
  padding: 0px 16px;
  position: relative;
  transition: all 0.3s ease 0s;
  user-select: none;
  white-space: nowrap;
}
