.Betslip {
    height: 100%;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    user-select: none;
}

.TabsWrapper {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    min-height: 0px;
}

.Content {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    min-height: 0px;
    overflow: hidden;
}

.BetContent {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 0px;
    position: relative;
}

.BetGroup {
    display: flex;
    flex: 1 1 0px;
    flex-direction: column;
    min-height: 0px;
    overflow: auto;
    padding-inline: 14px;
    scroll-behavior: smooth;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
}

.BetOverview {
    background: var(--db-gray-6);
    display: flex;
    flex-direction: column;
    flex: 0 1 0%;
    font-variant-numeric: tabular-nums;
    font-feature-settings: 'tnum';
    position: relative;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
    z-index: 10;
}
.BonusButton {
    display: inline-block;
    cursor: pointer;
    background: var(--db-duelbits-gray);
    border: 2px dashed var(--db-purple-box); 
    margin: 14px;
    margin-block-end: 10px;
    color: white; 
    border-radius: 5px;
    padding: 5px 15px; 
    font-size: 14px;
    position: relative;
    transition: background-color 0.3s; 
    cursor: pointer;
    font-weight: 600;
}
.BonusButton.selected {
    border: 2px solid var(--db-purple-box);
    border-radius: 8px;
    color: #f3bfff;
}
.bonusContainer {
    display: flex;
    align-items: center; 
}

.bonusContainer input[type="checkbox"] {
    display: none; 
}

.checkMark {
    width: 18px; 
    height: 18px; 
    border: 2px solid white; 
    border-radius: 4px; 
    margin-right: auto; 
    position: relative;
    transition: background-color 0.3s; 
}

.bonusContainer input[type="checkbox"]:checked + .checkMark {
    background-color: var(--db-purple-box); 
    border: 2px solid var(--db-purple-box); 

}

.bonusContainer input[type="checkbox"]:checked + .checkMark::after {
    content: '';
    position: absolute;
    left: 5px;
    top: 1px; 
    width: 5px;
    height: 10px; 
    border: solid #fff; 
    border-width: 0 2px 2px 0; 
    transform: rotate(45deg); 
}

.BetButton, .SaveButton {
    appearance: none;
    background: var(--db-brand-green);
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 16px;
    margin-block: 0px 14px;
    margin-inline: 14px;
    overflow: hidden;
    position: relative;
    text-shadow: rgba(41, 39, 33, 0.2) 0px 1px 4px;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s, outline 0s ease 0s, outline-offset 0s ease 0s;
    height: 48px;
}
@keyframes _jQMcyq_dgbon_1 {

    0%,
    100% {
        opacity: 0.8;
    }

    10%,
    90% {
        opacity: 1;
    }

    40%,
    60% {
        box-shadow: rgba(200, 49, 231, 0.3) 0px 0.25em 1em, rgba(200, 49, 231, 0.8) 0px 0px 0.5em;
    }
}

.SaveButton {
    --tw-bg-opacity: 1;
    animation: 6s ease 0s infinite normal none running _jQMcyq_dgbon_1;
    background: hsl(var(--s) / var(--tw-bg-opacity));
    font-size: 14px;
    margin-block: 0px 5px;
    height: 30px;
}
.BetButton:not(:disabled)::before {
    animation: 3.6s ease 0s infinite normal none running wlstx;
    content: '';
    position: absolute;
    inset: 0px;
    opacity: 1;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
    z-index: 1;
}
.BetButton:hover::before {
    opacity: 0;
}

.BetButton:hover {
    background: rgb(51, 193, 108);
    /* background: rgb(51, 193, 108); */
}

.BetButton:disabled {
    background: var(--db-gray-12);
    /* background: var(--db-gray-1); */
    pointer-events: none;
}

.BetButton span, .SaveButton span {
    display: flex;
    flex: 1 1 0%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    height: 100%;
    z-index: 3;
}

.CoinsIcon {
    filter: drop-shadow(rgba(41, 39, 33, 0.2) 0px 1px 6px);
    fill: rgb(255, 207, 82);
    flex: 0 0 16px;
    width: 16px;
    height: 16px;
    margin-inline: 8px 4px;
}

.BetButton > div > svg circle {
    stroke: var(--db-brand-green);
}

@keyframes wlstx {
    0%,
    100% {
        background: rgb(37, 140, 78);
    }
    50% {
        background: rgb(44, 167, 93);
    }
}
