.Content {
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0.5rem;
}
.Container {
  height: 300px;
  width: 100%;
  background: var(--button-grad-op-mid);
  border-radius: 20px;
  padding: 0.5rem;
  margin: 0.5rem 0 0 0;
}
