.TabContent {
  --tw-translate-y: 3rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  opacity: 0;
  background-color: initial;
  padding: 1.25rem;
  position: relative;
}

.TabContent > .Form {
  display: grid;
  justify-content: center;
  gap: 1.5rem;
  grid-template-columns: minmax(0, 400px);
}
.Header {
  margin-bottom: 0.4rem;
  font-size: 1.13rem;
  line-height: 1.05rem;
  --tw-text-opacity: 1;
  color: var(--placeholder-light);
}
.UsernameForm {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}
.UsernameInput {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
}
.EditBtn {
  background-color: var(--db-gray-4);
  height: 1.95rem;
  width: 1.95rem;
  padding: 0.3rem 0.37rem 0.5rem 0.37rem;
  border-radius: 0.375rem;
}
.EditBtn:hover {
  background-color: var(--brand-green);
}
.ChangeUsernameSection {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
}
.ChangeUsernameSection > div {
  flex-grow: 1;
}
.SaveUsernameBtn {
  background-color: var(--brand-green);
  height: max-content;
  max-width: max-content;
  padding: 0.3rem 1rem;
  border-radius: 0.375rem;
  color: white;
  font-weight: 500;
  margin: 0.3rem 0 0.3rem auto;
}
.SaveUsernameBtn.Disabled {
  background-color: var(--card-odds-button-disabled);
  pointer-events: none;
  color: white;
  font-weight: 400;
}

.GroupTitle {
  margin-bottom: 0.2rem;
  margin-top: 0.5rem;
  font-size: 1rem;
  line-height: 1.05rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.Title {
  margin-top: 0.9rem;
  font-size: 0.85rem;
  color: var(--placeholder-light);
}

.FormGroup {
  border-radius: 0.5rem;
  background-color: var(--mid-blue);
  padding: 0.35rem;
  margin-bottom: 1rem;
  padding-left: 0.4rem;
}

.Text {
  font-size: 0.74rem;
  line-height: 1rem;
  color: var(--lightcolor-op1);
  margin: 0.1rem 0 0.1rem 0;
}

.ToggleContainer {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.ToggleContainer > label {
  cursor: pointer;
  font-size: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.ToggleContainer > div {
  margin-left: auto;
  display: block;
}

.ToggleContainer > div > div {
  height: 1.25rem;
  width: 2.75rem;
  padding: 0.125rem;
}

.ToggleContainer > div > div > div {
  width: 1rem;
}

.FormValidationMessage {
  animation: fadeIn 0.3s backwards;
  color: var(--cancelled);
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.01em;
  line-height: 1.2;
  margin-block: 0.375rem 0;
  margin-inline: 0.25em;
}

.PasswordCheckContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.25rem;
  margin-block: 0 0.25rem;
  margin-block-start: 0.25rem;
}

.PasswordMessage {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: var(--light-blue);
  transition: color 0.3s;
}

.PasswordMessage svg {
  width: 0.75rem;
  height: 0.75rem;
}

.PasswordMessage svg path {
  fill: var(--db-gray-800);
}

.PasswordText {
  line-height: 0.75rem;
}

.PasswordMessage.IsValid {
  color: var(--brand-green);
}

.PasswordMessage.IsValid svg path {
  fill: #33c16c;
}

.InputOuter {
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  border-color: var(--dark-blue-1);
}

.AccBtn {
  display: flex;
  flex-direction: row;
  height: 1.5rem;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  margin: 0.2rem 0;
  color: white;
  column-gap: 0.7rem;
  font-weight: 600;
  font-size: 1rem;
  padding-left: 0.2rem;
}
.AccBtn svg {
  margin-top: 0.2rem;
}

.ChangePasswordForm {
  padding: 0.3rem;
  border-radius: 10px;
  margin-top: 0.5rem;
}

@media (min-width: 900px) {
  .TabContent {
    padding: 1rem 1rem;
  }

  .TabContent > .Form {
    gap: 1rem;
    grid-template-columns: repeat(2, minmax(250px, 460px));
  }

  .Title {
    font-size: 0.9rem;
    margin-bottom: 0.1rem;
    margin-top: 0.2rem;
    font-weight: 600;
  }

  .GroupTitle {
    font-size: 0.95rem;
  }

  .Text {
    font-size: 0.8rem;
    line-height: 1.25rem;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.Spinner {
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-top: 3px solid #fff;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
}

/* ============================================================ */
.Switch {
  position: relative;
  display: inline-block;
  width: 39px;
  height: 20px;
  margin: 10px;
}

.Switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.SliderRound {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #848484;
  transition: 0.05s;
}

.SliderRound:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0px;
  bottom: 0px;
  background-color: white;
  transition: 0.1s;
}

input:checked + .SliderRound {
  background-color: var(--brand-green);
}

input:checked + .SliderRound:before {
  transform: translateX(20px);
}

.SliderRound {
  border-radius: 34px;
}

.SliderRound:before {
  border-radius: 50%;
}
