.TabContent {
  --tw-translate-y: 3rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  opacity: 0;
  background-color: initial;
  padding: 1.25rem;
  position: relative;
}

.TabContent > .Form {
  display: grid;
  justify-content: center;
  gap: 1.5rem;
  grid-template-columns: minmax(0, 400px);
}

.UsernameForm {
  display: flex;
  flex-direction: column;
}
.UsernameInput {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
}
.EditBtn {
  background-color: var(--db-gray-4);
  height: max-content;
  max-width: max-content;
  padding: 0.45rem;
  border-radius: 0.375rem;
}
.EditBtn:hover {
  background-color: var(--db-brand-green);
}
.ChangeUsernameSection {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
}
.ChangeUsernameSection>div {
  flex-grow: 1;
}
.SaveUsernameBtn {
  background-color: var(--db-brand-green);
  height: max-content;
  max-width: max-content;
  padding: 0.3rem 1rem;
  border-radius: 0.375rem;
  color: rgb(2, 37, 104);
  font-weight: 500;
  margin: 0.3rem 0 0.3rem auto;
}
.SaveUsernameBtn.Disabled {
  background-color: rgba(137, 137, 137, 0.172);
  pointer-events: none;
  color: white;
  font-weight: 400;
}

.Title {
  margin-bottom: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.FormGroup {
  border-radius: 0.5rem;
  background-color: var(--db-gray-2);
  padding: 0.75rem;
}

.FormGroup:not(:last-child) {
  margin-bottom: 1rem;
}

.Text {
  font-size: 0.6rem;
  line-height: 1rem;
  color: var(--db-body-text);
  margin-top: 0.1rem;
}

.FormGroup > :not(:last-child) {
  margin-bottom: 0.75rem;
}

.ToggleContainer {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.ToggleContainer > label {
  cursor: pointer;
  font-size: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.ToggleContainer > div {
  margin-left: auto;
  display: block;
}

.ToggleContainer > div > div {
  height: 1.25rem;
  width: 2.75rem;
  padding: 0.125rem;
}

.ToggleContainer > div > div > div {
  width: 1rem;
}

.FormValidationMessage {
  animation: fadeIn 0.3s backwards;
  color: var(--db-red-primary);
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.01em;
  line-height: 1.2;
  margin-block: 0.375rem 0;
  margin-inline: 0.25em;
}

.PasswordCheckContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.25rem;
  margin-block: 0 0.25rem;
  margin-block-start: 0.25rem;
}

.PasswordMessage {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: var(--db-gray-5);
  transition: color 0.3s;
}

.PasswordMessage svg {
  width: 0.75rem;
  height: 0.75rem;
}

.PasswordMessage svg path {
  fill: var(--db-gray-800);
}

.PasswordText {
  line-height: 0.75rem;
}

.PasswordMessage.IsValid {
  color: var(--db-brand-green);
}

.PasswordMessage.IsValid svg path {
  fill: #33c16c;
}

.InputOuter {
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  border-color: var(--db-gray-6);
}

@media (min-width: 900px) {
  .TabContent {
    background-color: var(--db-duelbits-gray);
    padding: 1rem 1rem;
  }

  .TabContent > .Form {
    gap: 1rem;
    grid-template-columns: repeat(2, minmax(250px, 360px));
  }

  .Title {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .Text {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.Spinner {
  border: 3px solid rgba(255, 255, 255, 0.3);  
  border-top: 3px solid #fff;  
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite; 
  display: inline-block;
  vertical-align: middle;
}