.InputContainer {
  position: relative;
  display: flex;
  align-items: center;
  border-color: transparent;
  background-color: var(--dark-blue);
  transition-duration: 0.2s;
  border-width: 1px;
  border-style: none;
  border-radius: 0.375rem;
  height: max-content;
  padding: 0.2rem 0;
}

.InputContainer > input {
  flex-grow: 1;
  resize: none;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: initial;
  padding: 0.5rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.Copy {
  right: 0.5rem;
  position: relative;
  display: inline-block;
  --tooltip-offset: calc(100% + 1px + var(--tooltip-tail, 0px));
  text-align: center;
  --tooltip-tail: 3px;
  --tooltip-color: hsl(var(--n));
  --tooltip-text-color: hsl(var(--nc));
  --tooltip-tail-offset: calc(100% + 1px - var(--tooltip-tail));
}
.Copy.Disabled {
  pointer-events: none;
}

.Copy > button {
  border-radius: 0.375rem;
  display: flex;
  padding: 0.25rem;
  cursor: pointer;
}
.Copy > button:hover {
  background-color: var(--light-blue);
}

.Copy > button label {
  position: relative;
  display: inline-grid;
  -webkit-user-select: none;
  user-select: none;
  place-content: center;
  cursor: pointer;
}
.Copy > button label > * {
  grid-column-start: 1;
  grid-row-start: 1;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform, opacity;
}

.CopyIcon,
.CheckIcon {
  height: 1.25rem;
  width: 1.25rem;
}
.CopyIcon path {
  fill: #fff;
}

.CheckIcon {
  opacity: 0;
  --tw-rotate: 45deg;
  --tw-translate-y: 0;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.Copied .CheckIcon {
  --tw-rotate: 0deg;
  opacity: 1;
}

.Copied .CopyIcon {
  --tw-rotate: -45deg;
  --tw-translate-y: 0;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  opacity: 0;
}

.Copied svg {
  pointer-events: none;
}
