.DecorationDiv {
  position: relative;
  isolation: isolate;
  perspective: 500px;
}

.DecorationDiv.Primary::before {
  left: 50%;
  transform-origin: bottom;
  background-color: var(--db-brand-green);
  transform: translateX(-50%) rotateX(4deg);
  width: calc(100% + 2px);
}
.DecorationDiv.Secondary::before {
  bottom: 0;
  right: 0;
  transform-origin: top left;
  background-color: var(--db-purple-box);
  transform: rotateX(-4deg) rotateY(0deg);
  width: calc(100% + 2px);
}

.Container {
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
  border-radius: 0.5rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  padding: 1.25rem 1rem;
}

.DecorationDiv.Primary .Container {
  background: linear-gradient(222deg, #26465bbf 0%, #396b8140 50%);
}
.DecorationDiv.Secondary .Container {
  background: linear-gradient(
      180deg,
      rgba(200, 49, 231, 0.17),
      rgba(200, 49, 231, 0) 43.84%
    ),
    #273b4d;
}

@media (min-width: 768px) {
  .Container {
    padding: 1rem;
  }
}
