.ModalHeader {
  position: relative;
  display: flex;
  height: max-content;
  flex-shrink: 0;
  padding: 1rem;
}

.ModalHeaderStart {
  display: flex;
  align-items: center;
  padding-left: 0.625rem;
}

.ModalHeaderCenter {
  /* display: none; */
  display: flex;
  align-items: center;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  transform: translate(-2%);
}

.ModalHeaderCenter svg path {
  fill: var(--brand-green);
}

.ModalHeaderCenter h2 {
  font-size: 0.9rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.ModalHeaderRight {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  align-items: center;
}

@media (min-width: 640px) {
  .ModalHeader {
    height: 3.5rem;
  }

  .ModalHeaderStart {
    display: none;
  }

  .ModalHeaderCenter {
    display: flex;
  }
}
