.EventRow {
  background: var(--db-gray-6);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  -webkit-box-align: stretch;
  align-items: stretch;
  margin: 0px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease 0s;
  border-bottom: 1px solid var(--lightcolor-low-op);
  margin-top: 5px;
}

.RowTop {
  display: flex;
  height: 26px;
  width: 100%;
  justify-content: space-between;
  overflow: hidden;
  padding-left: 10px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.EventTime {
  display: flex;
  width: 100%;
  min-width: fit-content;
  font-size: 12px;
  font-weight: 500;
  color: var(--db-body-text);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.TeamGroup {
  -webkit-box-align: stretch;
  align-items: stretch;
  overflow: hidden;
  margin: 6px 8px;
  display: flex;
  gap: 0.3rem;
}

.LiveEvent {
  margin: 0px 6px 0px 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.ServerBox {
  position: absolute;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  top: 29px;
  left: 1px;
}

.ServerIndicator {
  background: var(--db-brand-color);
  border-radius: 50%;
  margin: 10px 0px;
  transition: transform 0.4s cubic-bezier(0.5, -0.5, 0.5, 1.5) 0s;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin: 14px 0px;
  width: 5px;
  height: 5px;
  transform: translateY(26px);
}

.LiveEvent > div > div:nth-child(2) {
  padding: 17px 0px 0px 4px;
  width: 100%;
}

/* ------------------ */
.IconWrapper {
  gap: 8px;
  display: flex;
  flex-direction: row;
  -webkit-box-align: start;
  align-items: start;
}

.IconContainer {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  align-items: end;
  margin: 0px;
  width: auto;
  gap: 8px;
  cursor: pointer;
}
.IconContainer > svg {
  fill: var(--db-brand-color);
}

.ExtraMarkets {
  white-space: nowrap;
  padding: 0px;
}

.RowBottom {
  min-height: 48px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.TeamGroup {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  min-width: 0px;
}

.Team {
  color: rgb(255, 255, 255);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  height: 30px;
}

.LogoWrapper {
  margin-inline-end: 8px;
}

.CompetitorName {
  margin-inline: 0px auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ScoreGroup {
  color: var(--db-brand-color);
  display: flex;
}

.ScoreGroup > div:first-child {
  opacity: 1;
}

/* Outcome */
.Outcome {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;

  flex: 1 1 0%;
  margin: 0px 12px;
}

.OutcomeHeaders {
  display: none;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 1 / span 3;
  padding: 6px 0px;
}

.LiveBadge {
  animation: 6s ease 0s infinite normal none running jQMcyq;
  background: var(--db-purple-text);
  border-radius: 2px;
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.02em;
  margin-inline-end: 0.5rem;
  padding: 0px 0.33rem;
  text-shadow: rgba(41, 39, 33, 0.19) 0px 1px 2px;
  white-space: nowrap;
}

@keyframes jQMcyq {
  0%,
  100% {
    opacity: 0.8;
  }
  10%,
  90% {
    opacity: 1;
  }
  40%,
  60% {
    box-shadow: rgba(200, 49, 231, 0.3) 0px 0.25em 1em,
      rgba(200, 49, 231, 0.8) 0px 0px 0.5em;
  }
}

@container (max-width: 860px) {
  .EventRow {
    flex-wrap: wrap;
    padding: 8px 0px;
  }
  .Info {
    flex: 0 0 100% !important;
  }
  .Outcome {
    flex: 0 0 100% !important;
  }
}
