.OddsButton {
  background: var(--db-gray-7);
  background: #296d8c;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: flex;
  flex: 0.5 1 20%;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  overflow: hidden;
  padding: 6px;
  position: relative;
  transition: background-color 0.3s ease 0s, opacity 0.3s ease 0s;
  min-height: 2.5rem;
  border: 1px solid transparent;
}
/* .OddsButton:hover {
  background: var(--db-gray-5);
} */

.OddsLabel {
  flex: 0 1 100%;
  max-width: 100%;
  text-align: initial;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  white-space: nowrap;
}

.OddsDelta {
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
  gap: 6px;
}

.Indicator {
  opacity: 1;
  /* animation: 0.3s ease 7s 1 normal forwards running epImaF; */
}
/* @keyframes epImaF {
    100% {
        opacity: 0;
    }
} */

.IndicatorUp path:last-child,
.IndicatorDown path:first-child {
  opacity: 0.5;
}

.Odds {
  /* color: rgb(248, 214, 72); */
  color: var(--db-white-primary);
  font-variant-numeric: tabular-nums;
  font-feature-settings: "tnum";
  font-weight: 600;
}
.Odds.Up {
  color: var(--db-brand-green);
}
.Odds.Down {
  color: rgb(236, 100, 75);
}

.OddsButton:disabled {
  /* background-color: var(--db-gray-6);
    cursor: default;
    pointer-events: none; */

  background: rgb(24, 35, 41);
  cursor: not-allowed;
  opacity: 0.3;
  pointer-events: none;
}
.OddsButton:disabled .OddsLabel {
  color: var(--db-gray-5);
}

.OddsButton.Selected {
  /* background: var(--db-gray-12);
  border-color: var(--db-gray-13); */

  background: #0f3047;
  border-color: #85bbcb;
}

.OddsButton.Selected:disabled {
  background: rgb(24, 35, 41);
  border-color: var(--db-gray-13) !important;
}

/* CardButton */
.CardButton {
  background-color: rgb(3 19 30 / 52%);
  padding: 10px 5px;
  flex: 1;
  text-align: center;
}

.CardButton .OddsLabel {
  color: rgb(165, 195, 222);
  margin-right: 6px;

  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  max-width: 50%;
}
.CardButton.Selected {
  /* background: var(--db-gray-12);
  border-color: var(--db-gray-13); */

  background: var(--db-gray-12);
  color: white;
  border-color: var(--db-gray-13);
}

.CardButton.Selected .OddsLabel {
  color: rgb(221, 221, 221) !important;
}

.CardButton:disabled {
  background-color: rgb(66 81 95 / 19%);
  cursor: default;
}

.TempDisabled.OddsButton,
.TempDisabled.CardButton {
  opacity: 0.6 !important;
  pointer-events: none !important;
}

/* Media */
@media (max-width: 900px) {
  .OddsButton {
    font-size: 12px;
    flex-direction: column;
    gap: 2px;
    align-items: flex-start;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 58px;
  }
  .OddsDelta {
    font-size: 12px;
    flex: 0 0 20px;
    flex-direction: row-reverse;
  }
}
