.OddsButton {
  background: var(--odds-button);
  border-radius: 8px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: flex;
  flex: 0.5 1 20%;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  overflow: hidden;
  padding: 6px;
  position: relative;
  transition: background-color 0.3s ease 0s, opacity 0.3s ease 0s;
  min-height: 2.5rem;
  border: 1px solid var(--odds-button-border);
  border: 1px solid transparent;
}

.OddsLabel {
  flex: 0 1 100%;
  max-width: 100%;
  text-align: initial;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  white-space: nowrap;
}

.OddsDelta {
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
  gap: 6px;
}

.Indicator {
  opacity: 1;
}

.IndicatorUp path:last-child,
.IndicatorDown path:first-child {
  opacity: 0.5;
}

.Odds {
  color: var(--white);
  font-variant-numeric: tabular-nums;
  font-feature-settings: "tnum";
  font-weight: 600;
}
.Odds.Up {
  color: var(--brand-green);
}
.Odds.Down {
  color: rgb(236, 100, 75);
}

.OddsButton:disabled {
  background: var(--odds-button-disabled);
  cursor: not-allowed;
  opacity: 0.3;
  pointer-events: none;
}
.OddsButton:disabled .OddsLabel {
  color: var(--placeholder-light);
  opacity: 0.3;
}

.OddsButton.Selected {
  background: var(--mid-blue);
  border-color: var(--lightcolor-op1);
}

.OddsButton.Selected:disabled {
  background: var(--odds-button-disabled);
  border-color: var(--odds-button-border) !important;
}

/* CardButton */
.CardButton {
  background: var(--card-odds-button);
  color: var(--darkcolor-op1);
  font-weight: 500;
  padding: 10px 5px;
  flex: 1;
  text-align: center;
  border: 1px solid transparent;
}

.CardButton .OddsLabel {
  color: var(--darkcolor-low-op);
  margin-right: 6px;
  overflow: hidden;
  text-wrap: wrap;
  text-overflow: ellipsis;
  max-width: 50%;
  font-size: 0.7rem;
}
.CardButton.Selected {
  background-color: var(--card-odds-button-selected);
  color: white;
  border-color: var(--odds-button-border);
  font-weight: 700;
  border: 1px solid var(--lightcolor-low-op);
}

.CardButton.Selected .OddsLabel {
  font-weight: 400;
  color: var(--lightcolor-op1);
}

.CardButton:disabled {
  background-color: var(--card-odds-button-disabled);
  cursor: default;
  color: aliceblue;
  opacity: 0.3;
}

.TempDisabled.OddsButton,
.TempDisabled.CardButton {
  opacity: 0.6 !important;
  pointer-events: none !important;
  opacity: 0.3;
}

/* Media */
@media (max-width: 900px) {
  .OddsDelta {
    font-size: 12px;
    flex: 0 0 20px;
    flex-direction: row-reverse;
  }
}
@media (max-width: 500px) {
  .OddsButton {
    font-size: 12px;
    flex-direction: column;
    gap: 2px;
    align-items: flex-start;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 58px;
  }
}
