.BannerBackground {
  position: relative;
  width: 100%;
  overflow: hidden;
  aspect-ratio: 48/25;
}

.BannerBackground img {
  object-fit: fill;
  border-radius: 10px;
  aspect-ratio: 48/25;
}

.EventInfoWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.EventInfo {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  opacity: 0.94;
  border-radius: 10px;
  z-index: 150;
}
.EventInfo p {
  color: aliceblue;
  font-weight: 600;
}

.EventHeader {
  font-size: 12px;
  height: 10%;
  align-content: center;
}
.EventDate {
  font-size: 12px;
  height: 15%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.EventTeams {
  font-size: 14px;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.2rem;
}
.EventTeams span {
  display: flex;
  margin-left: 2%;
  font-size: 15px;
  color: aliceblue;
  justify-content: center;
  justify-content: center;
  align-items: center;
  line-height: 0.5rem;
}
.EventTeams p {
  color: aliceblue;
  font-weight: 600;
  text-align: center;

  vertical-align: middle;
  line-height: 180%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.HomeTeam,
.AwayTeam {
  gap: 0.7rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.EventTeams .Img {
  height: 20px;
  width: 20px;
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
.EventMarkets {
  padding-top: 6px;
  height: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.EventMarkets > button {
  margin: 5px;
  color: #040404;
  font-weight: 600;
  border-radius: 5px;
  background-color: #ffffffd1;
  padding: 5px 3px;
}
.EventMarkets > button > span {
  color: #7c7c7c !important;
  font-size: 10px !important;
}

@media (min-width: 640px) {
  .EventTeams {
    font-size: 17px;
    gap: 0.8rem;
  }
  .EventTeams .Img {
    height: 30px;
    width: 30px;
  }
  .EventMarkets > button {
    padding: 10px 5px;
  }
  .EventDate {
    font-size: 13px;
  }
}
