.SportSelection {
  position: relative;
  height: 45px;
}

.SportSelection::after { 
  background: var(--db-white-hover-light);
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 1px;
  z-index: 1;
}

.MenuContent {
  width: 100%;
}
