.BannerBackground {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 250px;
  min-height: 250px;
}

.BannerBackground img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.EventInfoWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.EventInfo {
  /* width: 350px;
  max-width: 90%;
  height: 230px;
  max-height: 100%;
  opacity: 0.94;
  box-shadow: 0 0 10px rgba(0, 0, 0, 69%);
  background-color: #0b1218db;
  border-radius: 10px;
  padding: 8px; */

  width: 100%;
  height: 100%;
  padding: 0.5rem;
  opacity: 0.94;
  border-radius: 10px;
}
.EventInfo p {
  color: aliceblue;
  font-weight: 600;
}

.EventHeader {
  font-size: 12px;
  height: 10%;
  align-content: center;
}
.EventDate {
  /* font-size: 13px;
  height: 15%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end; */

  font-size: 13px;
  height: 15%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.EventTeams {
  /* font-size: 15px;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; */

  font-size: 15px;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.EventTeams span {
  /* display: flex;
  width: 10%;
  font-size: 15px;
  color: aliceblue;
  justify-content: center;
  align-items: center; */

  display: flex;
  /* width: 10%; */
  margin-left: 2%;
  font-size: 15px;
  color: aliceblue;
  justify-content: center;
  justify-content: center;
  align-items: center;
  /* font-weight: 300; */
  line-height: 0.5rem;
}
.EventTeams p {
  color: aliceblue;
  font-weight: 600;
  text-align: center;

  vertical-align: middle;
  line-height: 180%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.HomeTeam,
.AwayTeam {
  /* width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap; */
  gap: 0.7rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.EventTeams .Img {
  height: 35px;
  width: 35px;
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
.EventMarkets {
  padding-top: 6px;
  /* height: 20%; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.EventMarkets > button {
  margin: 5px;
  color: #040404;
  font-weight: 600;
  border-radius: 5px;
  /* background-color: #121f31; */

  background-color: #edededd1;
}
.EventMarkets > button > span {
  color: #7c7c7c !important;
  font-size: 10px !important;
}
