.SportSelection {
    position: relative;
    height: 45px;
}

.SportSelection::after {
    background: rgb(42, 65, 74);
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 1px;
    z-index: 1;
}

.MenuContent {
    width: 100%;
}
