.TournamentTimeSelection {
  animation: 0.3s ease 0s 1 normal backwards running iJJWSU;
  border-radius: 6px;
  display: flex;
  overflow: hidden;
}
.TimeSelectionButton {
  /* background: linear-gradient(307deg, #72dcff5d 0%, #57a7c957 50%); */
  background: var(--button-grad-op1);
  border: none;
  border-radius: 6px;
  color: var(--white);
  fill: var(--white);
  cursor: pointer;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-style: inherit;
  font-variant-ligatures: inherit;
  font-variant-caps: inherit;
  font-variant-east-asian: inherit;
  font-variant-alternates: inherit;
  font-variant-position: inherit;
  font-weight: 400;
  font-stretch: inherit;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  font-optical-sizing: inherit;
  font-kerning: inherit;
  font-variation-settings: inherit;
  font-variant-numeric: tabular-nums;
  font-feature-settings: "tnum";
  height: 36px;
  overflow: hidden;
  padding: 0px 16px;
  position: relative;
  transition: all 0.1s ease 0s;
  user-select: none;
  white-space: nowrap;
  border-radius: 0px;
  border-inline-end: 1px solid rgb(38, 58, 66);
}

.TimeSelectionButton span {
  color: var(--white);
}
.TimeSelectionButton.Active span {
  color: var(--text-in-brand);
}

.TimeSelectionButton:last-child {
  border-inline-end: none;
}

.TimeSelectionButton.Active {
  background: var(--brand-green);
  color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  fill: var(--text-in-brand);
}
.TimeSelectionButton.Active svg path {
  fill: var(--text-in-brand);
}
.TimeSelectionButton:hover svg path {
  fill: var(--text-in-brand);
}

.TimeSelectionButton:hover {
  background: var(--brand-green);
}
.TimeSelectionButton:hover span {
  color: var(--text-in-brand);
}

.TimeSelectionButton:disabled {
  background: var(--sb-search);
  color: var(--mid-blue-1);
  pointer-events: none;
}

@keyframes iJJWSU {
  0% {
    opacity: 0;
  }
}

.DropdownWrapper {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  z-index: 90;
}
.DropdownWrapper button svg:first-child {
  width: 18px;
  height: 18px;
  margin-inline: -2px 8px;
}
.DropdownWrapper button svg:last-child {
  width: 18px;
  height: 18px;
  margin-inline: 4px 0px;
  transition: transform 0.2s ease 0s;
}
.DropdownWrapper.Show button svg:last-child {
  transform: scaleY(-1);
}

.DropdownMenu {
  white-space: nowrap;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.DropdownItem {
  padding-inline-start: 1.5em;
  cursor: pointer;
  padding: 0.75em 1.5em;
  transition: all 0.3s ease 0s;
  border-bottom: 1px solid rgb(41, 61, 69);
  color: #fff;
}
.DropdownItem:first-child {
  border-radius: 3px 3px 0px 0px;
}
.DropdownItem:last-child {
  border-radius: 0px 0px 3px 3px;
  border-bottom: 0px !important;
}
.DropdownItem:hover {
  background-color: var(--brand-green);
}
.DropdownItem.Active {
  background-color: var(--brand-green);
}

.DropdownItem[disabled] {
  background: var(--sb-search);
  color: var(--light-blue);
  pointer-events: none;
}
.TimeSelectionButton:disabled {
  color: var(--light-blue);
}
.TimeSelectionButton svg {
  fill: #fff;
  height: 1.5rem;
  width: 1.5rem;
}
.RemoveDateBtn {
  background: var(--button-grad-op-mid);
  display: flex;
  align-items: center;
  flex-direction: row;
  border-radius: 2rem;
  color: white;
  justify-content: flex-start;
  min-height: 33px;
  font-size: 0.8rem;
  padding: 0.6rem;
  height: 100%;
  column-gap: 0.5rem;
  cursor: default;
}
.RemoveDateBtn svg {
  height: 0.6rem;
  width: 0.6rem;
  fill: #f0f8ff80;
}
